[2017-05-11 12:17] wanghaisheng opened #352 "how to convert dicom to jpeg"
what i want is to get a jpeg file for each dcm file ?is there any best practices  of pydicom ,i find nothing looking over documentation

[2017-05-12 02:29] scaramallion commented on #352
Not tested, but you should be able to use pillow and numpy:
[code]
You will likely have to do some work to ensure you have the data in a suitable format prior to saving.

[2017-05-21 21:53] darcymason commented on #9
Note that if a dicomdir is read, then written, then read again, it is not the correct format.  Discussed [here](https://groups.google.com/forum/#!topic/pydicom/DVeqyvXxpzU)

[2017-05-23 06:39] jmuilu opened #355 "Invalid tag (0020, 0011): Python int too large to convert to C long"
I got following error when saving the dicom file on Mac (64bit/Python 2.7):

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/dicom/dataset.py", line 491, in save_as
    dicom.write_file(filename, self, write_like_original)
  File "/usr/local/lib/python2.7/site-packages/dicom/filewriter.py", line 356, in write_file
    write_da

[2017-05-23 07:54] scaramallion commented on #355
From the DICOM standard (PS3.5 Section6.2) , an element with a VR of IS must have a value in the range -2^31 <= n <= (2^31 - 1).

[2017-05-23 16:22] jmuilu commented on #355
Thanks for the reply! Other values look ok. Also other files in that series have that same long number..

[2017-05-23 16:30] rhaxton commented on #355
I am shocked that a dicom file might not follow the standard...  as mentioned, the SeriesNumber (IS) should be 12 bytes max length and in the range quoted.  I think you should be safe changing the SeriesNumber for all the items in the series.  SeriesNumber is usually not referenced  by other things, if I recall...

[2017-05-23 20:04] vsoch opened #356 "pydicom organization"
hey @darcymason ! I'm a software engineer for Stanford Medicine, and I've been chatting with @scaramallion and @patmin, and I think we should bring together the general python / dicom effort into an organization (https://github.com/pydicom) so when someone wants to build something modern, they find all these things and nice docs in a centralized place, akin to what the neuroimaging community has d

[2017-05-23 20:21] jmuilu commented on #355
That is good to know. Thank you. Unfortunately I am getting the same error when changing it

[2017-05-23 20:26] rhaxton commented on #355
I think you might have to change it with dcmodify outside of pydicom
`dcmodify -m SeriesNumber=12345 file.dcm`
If I try to change it in pydicom with:
`f.SeriesNumber = "12345"`
I get the error as well
To avoid this, I have to do:
[code]

[2017-05-24 01:44] darcymason commented on #356
Hi @vsoch,
I've only scanned nipy a few times and am not familiar with the others that you've mentioned.  I'll have a look and get familiar with the organization structure and what it can offer.

[2017-05-24 02:23] vsoch commented on #356
hey @darcymason ! I don't mean to say that nipy would take up the dicom tools (although, given the cross of medical imaging --> neuro --> dicom it would be a possibility if you wanted to go in that direction) I was moreso suggesting that we should have a central python for dicom base of repositories, and grow a community around that. Looking forward to chatting more!

[2017-05-24 02:29] darcymason commented on #356
Hi @vsoch,  I didn't mean it that way either,  I was thinking of nipy as a model of different code bases under one umbrella, to understand what the advantages might be.

[2017-05-24 03:57] vsoch commented on #356
oh I see! Sure thing :) I would check out [singularityware](https://singularityware.github.io). Open source efforts can be really great! :)

[2017-05-24 10:29] jmuilu commented on #355
of course! great thanks for this :)

[2017-05-25 01:06] #355 closed

[2017-05-26 22:25] hi-im-ryanli opened #357 "pixel_array output is a distorted image"
I am working with a  `.dcm` file which contains a colored image. After decompressing the image with `gdcm`, I re-loaded the file with `pydicom` and plotted the image - it looks like this:

![face](https://cloud.githubusercontent.com/assets/10702581/26514525/007c68d0-4238-11e7-9d34-b531a16d0f6c.png)

I am wondering if I did something wrong?

code:

[code]

**Update:**
Since my image is colored, the

[2017-05-27 16:44] darcymason commented on #356
Okay, I've thought this over thoroughly over the last few days, and  I'm not interested at this point in going this direction.

I don't  believe that people were not finding pydicom or pynetdicom because they weren't in one place.  There is a large group of people happily using one or the other, or both.  If there are issues with documentation, those can be contributed through the current mechanis

[2017-05-27 18:55] vsoch commented on #356
Ah, I am saddened to hear this. I hope at some point you might change your mind, the location/organization of the Github base for the repo seems trivial, at least I've only seen benefits when I take steps to embrace a community effort.  I would challenge you to ask yourself "why not?" In the worst case, there are no benefits and nothing changes. But in the best case, there are benefits that you do

[2017-05-27 19:39] darcymason commented on #356
One of the main issues not to do it until necessary, in my mind, was that there is always a cost to a move, in terms of the built up history pointing to the one location.  We went through that with the move from googlecode to github, where people were in both places for a while due to old information from searches, or links from previous comments/discussions.  But now I'm rethinking that it might

[2017-05-27 20:19] vsoch commented on #356
That is definitely a concern - and I had the same one before! [Github automatically redirects](https://github.com/blog/1508-repository-redirects-are-here), so no links are broken. It sounds like the move from GoogleCode to Github was challenging because of the completely different architectures, but thankfully moving around from within Github doesn't work like that. The history, links via url and

[2017-05-27 21:07] darcymason commented on #356
Ah, okay, without really thinking about it, I had made the assumption that the move would disrupt that external link history.  That changes the equation completely, so thanks for clearing that up.  I'm certainly not against change, but am careful about the cost-benefit ratio after having spent a lot of time switching tools in the past, only for the next new best thing to come along shortly after.

[2017-05-27 21:25] vsoch commented on #356
Sounds great! How about just joining the organization for now, and then you can think this over more? I just started this going at the beginning of the week, and need some time to make the documentation base and some of the tools that I started. For example, just this morning I threw together a [container](https://github.com/pydicom/singularity-dicom) that will make it easy to get up and started w

[2017-05-29 00:48] scaramallion commented on #357
It looks like the bit depth is incorrect in the final image, what's the dtype for the numpy array?

Could you upload an anonymised version somewhere?

[2017-05-30 00:35] darcymason commented on #356
Hi again, @vsoch ... so I'm ready to move pydicom over whenever that's convenient... I'm assuming it is as simple as the transfer button in the existing account settings (plus the local git config stuff you mentioned).  I also have github-pages for a very simple single page at http://pydicom.org, and according to the redirect info you linked, that will not come over, but I'm happy to drop that or

[2017-05-30 01:47] vsoch commented on #356
hey @darcymason, awesome! For docs, my thinking is that to start we can have pydicom.github.io (I'm building a github pages for it) that will link to each of the docs for pydicom and pynetdicom3, respectively. For this solution, you can simply migrate the current to point to the new location (which likely needs a bit of renaming wherever you own the domain) and we will link to it. For a long term

[2017-05-30 05:47] scaramallion opened #358 "Unexpected EOF warning when reading dataset saved to DicomBytesIO"
[code]
Dataset gets read correctly but logs message:

Caused by `EOFError` exception in `filereader.data_element_generator` [from this line](https://github.com/darcymason/pydicom/blob/master/pydicom/filereader.py#L188) being [caught](https://github.com/darcymason/pydicom/blob/master/pydicom/filereader.py#L357) in `read_dataset`.

I'm not really sure what the best way to deal with it is. I don't wa

[2017-05-30 06:07] scaramallion commented on #358
On further digging the issue originates with `filebase.DicomIO.read()`, which raises EOFError when the amount remaining is less than requested.

This behaviour isn't consistent with reading from file or regular BytesIO. The following doesn't log any messages:
[code]

[2017-05-30 14:41] hi-im-ryanli commented on #357
![screenshot from 2017-05-30 09-39-25](https://cloud.githubusercontent.com/assets/10702581/26588786/e962c464-451b-11e7-849e-255bcb92076b.png)

Thanks for replying.

I did some digging and then I changed it up with this:
`imageC = np.reshape(image, (row, col, 3), order='C')`

The good news is that is now not rubbish but the background is always red or yellow sometime. Any ideas?

[2017-05-31 00:15] scaramallion commented on #357
It may be that matplotlib is stretching the pixel intensities, similar to [this issue](https://stackoverflow.com/questions/21641822/why-bmp-image-displayed-as-wrong-color-with-plt-imshow-of-matplotlib-on-ipython)

[2017-05-31 01:12] darcymason commented on #356
On the containers I meant for local testing before committing.  I started doing some docker images at one point, but was having trouble with it on one of my development machines and drifted away from it.

I like the idea of containers for people simply to use code, that will help immensely for people who want to use the gdcm-connected image handling, for example, to have a prebuilt image with all

[2017-05-31 01:42] vsoch commented on #356
Awesome! And looks like the issue transferred nicely too! If you want to open issues that bullet point out what you have in mind for the testing containers we can start working on it. I've definitely done testing of containers using Circle and Travis so we could try that out. Could you point me to the pydicom google group so I can join too? It will be great to get everyone's contribution and for t

[2017-05-31 15:48] massich commented on #356
@vsoch I happen to be doing the same. So how can I help ?

[2017-05-31 16:23] massich opened #361 "pickle test fails for python 3.6"
I installed  `pydicom` from master, and when running the tests I found that pickle fails.

See below:

[code]

And just to show the version:

[code]

[2017-05-31 16:32] vsoch commented on #356
hey @massich ! How about I'll add you as a member of the organization, then just PR changes to pydicom.github.io! I was able to add most (2 of the pages) of the current docs, and was going to add the remaining (but you can give it a go if you like!) Are you familiar with Jekyll? Basically, anything that we put into pages will render into a page, so I made a folder for [pydicom](https://github.com/

[2017-05-31 21:05] hi-im-ryanli commented on #357
I AM SO STUPID.
`imageC = cv2.cvtColor(imageC, cv2.COLOR_YCrCb2BGR)`

The color space is all messed up, see this link: http://dicomiseasy.blogspot.com/2012/08/chapter-12-pixel-data.html

Please close this. Thank you.

[2017-06-01 07:32] massich commented on #356
@vsoch great.

[2017-06-01 09:17] massich opened #362 "RTSS example"
I am building an example where:

1 - load the RTSS file provided by tests files
2 - load the DCM image refered by the RTSS file
3 - Display the DCM
4 - Overlay the contours of RTSS

My problem is that the image the RTSS is referring to is not provided as tests files.
See the following code:

[code]
and when run:

[code]

Is this image available somewhere?

[2017-06-01 11:43] darcymason commented on #362
Those files were added so long ago, and IIRC, at different times, so I have no recollection of where they originally came from.

I would suggest to look around the web to see if there are any example sets that have both.  [Dicompyler](https://github.com/bastula/dicompyler), for example, has a download section with test data.

[2017-06-02 02:19] #357 closed

[2017-06-02 18:28] JoshGodfrey opened #363 "Unrecognized Encoding Error"
I am working on making a custom DICOM PHI removal tool using pydicom.

When I am processing a specific subset of DICOMs (a set that has previously gone through a 3rd party anonymization tool) the <file>.save_as(<location>) does not work and throws an error which is quoted below. Interestingly, I am able to read the DICOM file - read it in from a .dcm and then output its contents in console.

I am

[2017-06-04 01:45] scaramallion commented on #363
Yeah, setting the SpecificCharacterSet to 'XXXXXX XXX' isn't great as it's not a supported encoding (obviously). You should be able to set it to the default encoding with:
[code]
Depending on the dataset you may need to use a different encoding scheme, but I can't see anything that indicates this.

You should also be aware that the dataset you uploaded isn't conformant anymore due to the improper

[2017-06-05 11:01] scaramallion commented on #361
What version of python? Its known to fail with python3.6.0 (as noted in #307)

[2017-06-05 12:39] darcymason commented on #356
@vsoch, I just remembered that I was to point you to the pydicom google group.  I see that you have already joined, but I'll put the links here for anyone else interested:
pydicom group:  https://groups.google.com/forum/#!forum/pydicom
Python in Medical Physics: https://groups.google.com/forum/#!forum/python-medphys

[2017-06-05 17:27] vsoch commented on #356
Thanks! Also I think we are good to close this issue. Thanks again both to @massich and @darcymason.

[2017-06-05 17:27] #356 closed

[2017-06-05 17:56] JoshGodfrey commented on #363
Thanks scaramallion - I'll test that out when I get a chance (hopefully later today). It seems excessively reasonable though and should work.

[2017-06-05 19:00] massich commented on #361
I let the issue open for further reference since there is no duplicate.

Feel free to close it if you feel that keeping it open is making noise.

[2017-06-05 20:43] massich opened #366 "[RFC] Documentation"
After some discussion to setup pydicom.github.io, I gave some thoughts to find the best way to take advantage of pydicom organization to improve the codebase documenation of pydicom (package). In this regard I thought about the following improvements:

1 - List of examples (using `sphinx-gallery`), similarly to [nilearn examples](http://nilearn.github.io/auto_examples/index.html), [scikit-learn ex

[2017-06-05 21:47] JoshGodfrey commented on #363
One slight change I made: instead of ds.SpecificCharacterSet = 'iso8990' I did ds.SpecificCharacterSet = 'ISO_IR 6' which was the listed default encoding. Everything is working great. Thanks again!

[2017-06-05 21:47] #363 closed

[2017-06-05 22:44] vsoch commented on #366
I completely agree for point 1. And we can take the same approach as nilearn/scikit-learn, etc. in having a base that brings users in (in their case, [nipy.org](http://nipy.org/) that gives very high level overview, and links the user to the detailed (package specific) docs they want (and this would be the pydicom sphinx docs with the sphinx-gallery you mentioned above).

Is a Reference API a stat

[2017-06-05 23:19] scaramallion commented on #366
1 and 3 sound good, a nice DICOM guide is something I've been wanting to add for a while. It might be a good idea to go though the github issues and the pydicom google group to get an idea for what kind of examples are most useful.

[2017-06-05 23:51] vsoch commented on #366
That's a good idea. I can offer to go through the Github issues, and for "a place to put all this stuff" I thought we could try out a [project](https://github.com/orgs/pydicom/projects/3). To be honest, I haven't use Projects at all on Github - I think they made them because Trello boards were/are liked a lot, and I'm (still) not totally sure about their intended use case. I (think) it's for tasks

[2017-06-06 01:27] darcymason commented on #366
I especially like 1 and 2.  With 3, I think there should be an attempt to keep it more focused on what is needed to understand the examples and pydicom's (or other packages') objects.  There is a lot of DICOM information out there and I think the key points would be best here, with links out to more details.

As to most useful examples, many are on @vsoch's project board:  in my experience, writin

[2017-06-06 01:38] darcymason commented on #273
With the new activity on moving to pydicom 'organization' on github, I'm wondering if anyone can tackle this issue -- in my mind it is a key one to get right for pydicom 1.0 release.  Note related issues #263, #262

[2017-06-06 01:50] vsoch commented on #366
Huge +1. One of the big rationale for this effort is that there are a ton of different bases for docs, but a lot aren't user friendly, or haven't been updated, or there exist multiple versions of similar things, and given the prevalence of dicom, and a future (well I could even say present) where general data scientists are going to want to do machine learning using these datasets, they need good,

[2017-06-06 01:50] #361 closed

[2017-06-06 07:20] glemaitre commented on #366
Since I was writing the issue with @massich, I agree with all those points :) ‎I also think that 3 needs to be double foot to have a compact doc to not be redundant with other material. But I think that as a user you need to have some info there.

I could offer an hand on setting the doc. ‎And writing/moving new examples. I could also review some docstring since they are the valuable part for the

[2017-06-06 07:36] vsoch commented on #366
Yeah! That's exactly what I was thinking, and in fact what I implemented for [dicom-cookies](https://asciinema.org/a/122503?speed=3). The dataset being downloaded there is the one served (JSON API spec) from [this static repo](https://github.com/pydicom/dicom-cookies). So any dataset in that flat folder format would be easy to download, but more importantly, programmatically accessible via the JSO

[2017-06-06 15:24] fedjo commented on #240
Any news about the 1.0.0 release?

Is installing from git stable?

Thanks

[2017-06-06 19:10] rhaxton commented on #273
I could address this issue.  The particular file in question is checked in under color3d_jpeg_baseline.dcm  and has a test in test_filereader.py::JPEGLossyTests.

Given that these compressed transfer syntaxes are technically optional, we don't want to have the tests fail if the dependencies are not present, nor do we want them to succeed silently if they are not present.  I also want to make sure

[2017-06-07 12:15] darcymason commented on #240
The master should generally be stable at this point.  One possible exception is the format of images returned from decompression (gdcm, jpeg_ls), as in #273 and related issues.  I'd like to see that solved before the 1.0.0 release.

[2017-06-08 02:57] #288 closed

[2017-06-12 05:26] vsoch opened #370 "pixel cleaning?"
hey team! Is there a nice python library for removing identifiers (eg tags and labels) from the pixel data? If not, I'd like to make one, and have a choice of containers to use it, examples, and methods. If there is, then I definitely don't want to re-invent the wheel. It's an important thing, and would be a nice module to have.

[2017-06-13 00:38] scaramallion commented on #370
Are you referring to burned in annotations on the pixel data itself, overlay data or just the other elements within a dataset?

[2017-06-13 01:02] vsoch commented on #370
burned in, or written to the data. Although the others are likely to occur, I think those wouldn't need image processing to deal with right? When you say overlay, could you show me how a py dicom dataset represents an overlay? Are they usually ok to remove to deidentify the data?

[2017-06-13 01:24] vsoch commented on #370
If there isn't anything out there, I'm just going to make a simple module that uses OpenCV and standard numpy, etc. For most images it should be fairly easy to use some basic image processing techniques to find and then remove the text.

[2017-06-13 01:53] scaramallion commented on #370
As far as I know there isn't anything, but I haven't had to look before.

Overlay Data exists in its own elements (ie not burned in).

[2017-06-13 01:59] vsoch commented on #370
ok cool, thanks much. I'll see what I can come up with.

[2017-06-13 01:59] #370 closed

[2017-06-13 11:03] weidwonder opened #371 "DicomFileLike object caused memory leak"
**`version`: pydicom0.9.9.post1**

I wrote a storage server to receive dicoms. It's about 512k for every dicom file. And I found that When the programme run over two days, the memory usage explode!

Here is the info showed in `ps -aux --sort -rss | head`
[code]

view it by pyrasite:
![](https://user-images.githubusercontent.com/208440/26932748-6165a2fa-4c5c-11e7-988c-b447c8af5d21.png)

After inves

[2017-06-14 00:26] scaramallion commented on #371
Were you using pydicom specifically in the SCP implementation or is this the result of it being included in pynetdicom? If you were using it specifically can you post the code for how you were using it? Roughly how many images would've been transferred over the 48 hours?

I'm trying to get an idea for how to reproduce the issue.

[2017-06-14 00:36] weidwonder commented on #371
the basic code is included in the issue of pynetdicom. And about 300 ct series will be received everyday, and every series include 400 instances on average. Every instance is about 512k.
But I don't think you need to reproduce my problem. The DicomFileLike caused  leak is always, just find a way to create it and set gc debug mode, then you can see the DicomFileLike instance is uncollectable.

[2017-06-14 00:42] scaramallion commented on #371
It's a bit weird though, I've done testing on 1.5k dataset transfers (total data transferred > 3 GB) with pynetdicom3 and didn't notice anything. Anyway, I'll take a look.

[2017-06-14 01:01] weidwonder commented on #371
pynetdicom3 is using pydicom over 1.0 im using pynetdicom0.8.1 .cuz pynetdicom3 transfer slower than 0.8.1. And the slow issue I  also raised.

[2017-06-14 07:09] scaramallion commented on #371
I've been doing a bit of testing and pydicom 0.9.9 + pynetdicom 0.8.1 definitely has a memory leak somewhere:
[code]

However running the same test with pydicom 1.0.0a1 + pynetdicom3 is fine (although slower):
[code]
I think my next step may be trying pydicom 1.0.0 + pynetdicom 0.8.1.

[2017-06-14 07:36] scaramallion commented on #371
Patching pynetdicom 0.8.1 to use pydicom 1.0.0 gives the following with the same test:
[code]
Still has a memory leak.

[2017-06-14 19:35] vsoch opened #372 "Correct way for blanking a field?"
What would be the correct way to blank a field? The ideal would be something like:

[code]
however then when I do dataset.save_as, I get what looks like an error about putting a string into (probably an int field, the IS one maybe?)

[code]
I found [these functions](https://github.com/pydicom/pydicom/blob/master/pydicom/valuerep.py) (and noted to import as pydicom.valuerep and then I could do some

[2017-06-14 19:46] vsoch commented on #372
And I was doing this sort of thing to change a tag:

[code]

[2017-06-16 00:54] scaramallion commented on #371
Ok, difference with pynetdicom3 is because I was using python 3.5, which does garbage collection for classes that define `__del__`. Definitely a problem with the `DicomIO` class for python < 3.4. The memory leak can be demonstrated by saving the same dataset repeatedly and viewing the memory usage with pympler.
[code]

[2017-06-16 01:00] weidwonder commented on #371
Thx for looking, del  __del__  method  then  it works just fine, and no file descriptor leak.

[2017-06-16 01:35] scaramallion commented on #371
And I just realised this is what's been causing my intermittent test failures for python 3.4+ (#335 and 296aead, 4451241, f722d64).

Ok, should be safe to remove as for py < 3.4 the `__del__` method isn't even being called and the `DicomIO` remains open. For py >= 3.4 this will close the `DicomIO` (and subclasses) after it passes out of scope in `write_file` so there's a behaviour change there, bu

[2017-06-17 16:15] #371 closed

[2017-06-18 00:36] darcymason commented on #372
Hi @vsoch,  I've tried this briefly on a pydicom test file and am able to do the following without an error from the `test` directory in pydicom:

[code]
The first is an IS, the second is a DA.  Can you narrow down which VR type or a specific tag that is giving the error you are seeing?  From line 156 (actually from passing the `if` in line 155) in the trace you posted, it looks like it is one of

[2017-06-18 01:36] vsoch commented on #372
Yes that was it! I made a small loop to go through all the fields, and blank as I did before:

[code]
but this time, the function `perform_action` will spit out a warning given the field types are in SS or US (are there any other names like this that I should check for?) and at the end of the loop, you can see I'm saving the file. The result:

[code]

The warning is issued for those fields that yo

[2017-06-18 01:36] #372 closed

[2017-06-18 23:35] vsoch opened #374 "installing version > 1.0"
hey @darcymason ! I noticed when I install from pip I get

[code]

but the version that I want (when I clone and install from github is)

[code]
It looks like pip has the older one:

[code]

Should I continue to install with git instead of pip for now? Or is it under a different name?

[2017-06-19 01:19] darcymason commented on #374
With pip it is going to the latest release, and that is 0.9.9.  Until the official release of pydicom 1.0, you'll have to install differently to get the latest repository.  But can still do with pip, in the following form:
```pip install git+https://github.com/pydicom/pydicom.git```
Is that what you mean?

[2017-06-19 01:56] vsoch commented on #374
ah ok! I do know about pip+git, I just wanted to make sure all was in order (and I had the right package uri, because I remember there was one called dicom at some point). Thanks again for the quick reply, and if you're a dad, Happy Father's day! 👨 Closing issue.

[2017-06-19 01:56] #374 closed

[2017-06-24 02:58] vsoch opened #375 "Burned In Pixel Markers?"
hey team! I'm going to hijack the main board once again to get your feedback / expertise / anything you might possibly know about "How to tell if there is burned in pixel annotations in an image?" I describe what I'm working on, and what I've found here --> https://github.com/johnperry/CTP/issues/16 TLDR, there seem to be some flags in the header (eg, `BurnedInAnnotation`) and "trends" (e.g., Mamm

[2017-06-24 03:08] suever commented on #375
Yea, there is no way to ever ensure that you have removed all burned-in text that contains PHI. Even if you want to simply detect text in an image and remove it, that's not really a suitable option because in many instances, the burned in (non-PHI) text is actually essential for interpretation.

An important point to consider when designing an automated de-identification pipeline is that even if y

[2017-06-24 03:20] vsoch commented on #375
Wow, 5-10% human error? I guess that's not so surprising, it must be hard sometimes to be completely sure if something is PHI. Our data is going to be mostly for researchers, so likely they wouldn't have too much reliance on interpreting the annotation, but I can't be sure about every use case.

Your pipeline sounds great! That's a really good idea to do some simple analysis that compares to human

[2017-06-26 08:37] luckfamousa opened #376 "ValueError: Presentation Context attempted to add a non-transfer syntax UID"
Store SCP fails with "ValueError: Presentation Context attempted to add a non-transfer syntax UID" when receiving from GE Centricity PACS. Specifically GE sends '2.16.840.1.113709.1.2.2' and '2.16.840.1.113709.1.2.1' transfer syntaxes which cause the error.

[2017-06-26 08:39] #376 closed

[2017-07-05 12:24] massich commented on #362
maybe [pydicom-datasets](https://github.com/pydicom/pydicom-datasets/) would amend the problem.

[2017-07-05 12:24] #362 closed

[2017-07-05 12:40] sbrodehl commented on #219
I was looking for a way to load DICOM slices from a tar bz2 archive, without extracting all files to disk and load them again - everything in-memory.
Although zipfile is not supporting this, tarfile does, and tarfile's method `tar.extractfile(member)` can directly be used and works with no errors so far.
Here is a short snippet:
[code]

Do you have any experience with this way of loading DICOM fil

[2017-07-05 12:55] massich opened #379 "dicomtree.py example not working due to tix"
hey all,

I'm going through the examples and I can not run dicomtree.

[code]
The main problem is `tix`, see the following ipython session:
[code]
[code]

I don't understand the error since the libraries seem to be at the right place according to [this thread](https://stackoverflow.com/questions/22780141/tkinter-tclerror-cant-find-package-tix)

[code]
This is my configuration:
[code]

More over `t

[2017-07-05 16:56] rhaxton commented on #219
I regularly use in memory zip's and tar's (and gzipped tars).  The zip/tar is downloaded into a file-like object then extracted into a dictionary of filenames with file-like objects.  The following does not support zips of zips, nor does it support identical filenames in different subdirectories (because of the use of the base filename as the dictionary key).  There is no reason you need to have a

[2017-07-05 21:17] AkshayJaggi opened #380 "Edit MediaStorageSOPInstanceUID"
I am attempting to change the DICOM tags for a file. To do this, I need to edit the MediaStorageSOPInstanceUID tag. However, whenever I edit this tag, the dicom is no longer valid.
Has anyone experienced this issue or know how to edit a Media Storage SOP Instance UID without breaking the file?

[2017-07-06 12:07] sbrodehl commented on #219
Thanks @rhaxton for your snippets!
Performance wise, it is much better to use StringIO's instead of working directly on the tar/zip file like objects, I will update my script above.

So IMHO it is not necessary to provide functionality in the pydicom package to read zip/tar containers, because using file like objects works pretty well.

[2017-07-06 18:05] massich opened #381 "[RFC] explicit relative import and pytest"
I'm trying to use `pytest`. The following code shows how all the test pass when using the script `tests/run_test.py` however it fails when using `pytest` due to [Absolute and REaltive imports (see PEP324)](https://docs.python.org/3/whatsnew/2.5.html#pep-328-absolute-and-relative-imports). Changing them,  `pytest` passes but now `run_test.py` script does not.

Is there any particular reason to use

[2017-07-06 18:11] massich commented on #380
can you post a MWE to reproduce it ?

[2017-07-06 18:14] #380 closed

[2017-07-06 18:30] rhaxton commented on #381
Back in may I submitted PR#351 that included some changes so I could run py.test directly just like this.  This still works for me on python 2.7:

[code]

Could this be python 3.6 specific?

[2017-07-06 19:08] massich commented on #381
If I'm not mistaken, it should run with 2.7. The solution is for 3.6 since they made it more restrict. However doing so, it brakes the CI.

So, I would like to do a review of the CI. If people don't mind.

[2017-07-06 19:10] massich commented on #381
`run_test.py` is 2 years old, I think that it does not do anything that i cannot be done calling `pytest` directly.

[2017-07-06 19:30] massich commented on #273
how's the status @rhaxton, do you need help?

[2017-07-06 19:31] massich opened #382 "[RFC] Move test data to pydicom/pydicom-datasets"
This issue is an attempt to collect whatever is in the issue tracker referencing DICOM files for testing or otherwise, review them and decide what we do with it.

As suggested in the title, I would move them to pydicom-datasets, and then include it in the CI while testing.

--------

fixes #7 #285 #257 (and others, I'll keep adding them while skimming through the issue tracker. Feel free to add th

[2017-07-06 19:45] massich commented on #381
@rhaxton see [this build](https://travis-ci.org/massich/pydicom/builds/250898257) I guess that we should put some load on the travis script as they do in scikit-learn or nilearn, if we want to follow this path.

[2017-07-07 04:35] scaramallion commented on #382
Since pydicom-datasets is basically an empty project at the moment, it might be better to wait and see how it ends up developing (if it ends up developing, I don't have a lot of free time to devote to it).

[2017-07-07 08:51] massich commented on #382
My aim with this issue was to have a road map.

[2017-07-07 12:31] massich opened #383 "[RFC] best practices"
[from @scaramallion 's comment](https://github.com/pydicom/pydicom/pull/378#issuecomment-313582556) I would like to start a discussion regarding best practices.

#### contributing guide:
Do you have any objection to adopting [this contributing guide from scikit-learn](https://github.com/scikit-learn/scikit-learn/blob/master/CONTRIBUTING.md) (either partially or fully)

#### Merge policy:
I would p

[2017-07-07 13:42] darcymason commented on #382
I'm fine with the road map idea, but @scaramallion has a good point about not getting too far ahead until pydicom-datasets is somewhat stable.

That being said, I would like to add to the road map the images from [pcir.org](http://www.pcir.org/researchers/downloads_available.html) that are used by [`tests/performance/time_test.py`](https://github.com/pydicom/pydicom/blob/master/tests/performance/t

[2017-07-07 15:19] vsoch commented on #383
The contributing guide is a great idea! It's also nice to have [PR and issue](https://github.com/blog/2111-issue-and-pull-request-templates) templates so, given that someone doesn't read it (this never happens, right?) they have a nice checklist of things to go by. For the merge policy, I would suggest being a little more conservative. I think we might do the following:

1. protect master (product

[2017-07-07 15:30] massich commented on #383
Agree. I think that [protect](https://help.github.com/articles/configuring-protected-branches/) master branch so that only @darcymason can merge makes sense. But I think that it would speed up the process if we make 3 levels of developers (or 2+1).

In this regard, the entry level would allow us to review and modify issues and PRs. The second level could allow for merging to the dev branch and the

[2017-07-07 15:48] vsoch commented on #383
that sounds good to me! ping @darcymason and @scaramallion for feedback.

[2017-07-07 15:49] vsoch commented on #383
and Github just announced open sourcing their own contributing, templates, etc, here for reference: https://github.com/github/site-policy

[2017-07-07 15:52] massich commented on #383
In the **imbalance-learn**  issue template we point out to contact us through gitter. Do we have a pydicom gitter channel ? do you mind if we create one?
[code]

[2017-07-07 15:53] vsoch commented on #383
I tried gitter for singularity, and it didn't work as nicely as slack (at least on Ubuntu). That said, I'm down for any kind of communication that the group might find useful.

[2017-07-07 15:56] massich commented on #383
we can make a slack channel to communicate between pydicom 'group' members and gitter as user or open discussion channels

[2017-07-07 15:59] massich commented on #382
I'll give it a look. I'm planning to review through the examples (one at a time). I would either take existing files from *pcir.org* or I'll try to upload them there so that we can retrieve them in a uniform manner. Then we can factorize the fetchers out and incorporate them to pydicom-datasets if desired.

[2017-07-07 16:11] massich commented on #383
@vsoch I can't create the gitter for pydicom community. Owner rights are required. Could you do it ?

[2017-07-07 16:14] glemaitre commented on #383
2. I disagree. master have to be what you call development branch. releases branch (with tag) will be the stable versions. Otherwise, at the release moment, you will have a release branch corresponding to your release, the master which need to be updated to the development which will also be at the same stage than the release branch and the development which will go on. Therefore one of the develo

[2017-07-07 16:15] glemaitre commented on #383
I think that you should also include PR and issue template: https://github.com/scikit-learn-contrib/imbalanced-learn/tree/master/.github

even if people remove them before reading, it sometime help to redirect some to the contributing guide or at least give minimal information.

[2017-07-07 16:19] glemaitre commented on #383
Another thing. It is nice to squash and merge when doing a PR without a direct push in master ;)

[2017-07-07 16:41] rhaxton commented on #273
@massich Thank you, yes, I need help.  I am not familiar with travis CI, and the my first goal is to get the unit tests in test_filereader.py to test both gdcm and PIL/jpegls.  I could use some pointers in setting up travis CI to have environments with Pillow and jpegls (pip install CharPyLS), so they can be tested.

My first thought for testing is to have a setting in config.py that says "Always

[2017-07-07 16:51] vsoch commented on #383
@glematire read about the Github flow: https://guides.github.com/introduction/flow/ and http://nvie.com/posts/a-successful-git-branching-model/:

We consider origin/develop to be the main branch where the source code of HEAD always reflects a state with the latest delivered development changes for the next release.

You can of course specify other branches to be the primary, but generally master =

[2017-07-07 16:52] vsoch commented on #383
And huge plus 1 on your last comment - a direct push to master should just never happen.

[2017-07-07 17:03] massich commented on #382
I've been looking at it. And I think that what we miss is a `Fetcher`. This could be part of a `utils` in `tests`. This would require to move some files around. I'll do a PR for it.

[2017-07-07 17:28] glemaitre commented on #382
I pretty much prefer in a pydicom/dataset module

[2017-07-07 17:33] massich commented on #382
@glemaitre I'm tinkering with it [here](https://github.com/massich/pydicom/tree/is/382/refactoring) while I figure out which is the best strategy

[2017-07-07 17:35] massich commented on #382
And keep it as part of pydicom as they do in scikit-learn? That's fine with me. I like it.

[2017-07-07 17:40] glemaitre commented on #383
The reason is the following:https://softwareengineering.stackexchange.com/questions/312022/the-trend-of-the-develop-branch-going-awayThen I would go take example to comfort my point but we don't have master in scikit learn and just checking tensor flow, they don't have any as well. I could make more checks but I am almost certain to find more cases without dev nowdays.

[2017-07-07 18:12] vsoch commented on #383
The rationale for development is to have a branch that user's that want the "next released, bleeding edge" version to clone and use. All PRs go to development and are merged there, and development goes to master when it's time for a new release. I agree that development isn't needed given very active and common releases (so you typically can do ok cloning and using master because it's up to date)

[2017-07-07 18:25] glemaitre commented on #383
I am still not agreeing :)

As a user you want either:
- a specific version (corresponding to a github tag and a pypi release)
- the last release (corresponding to the last available tag and pypi release)
- or the bleeding edge (which I consider master since it will still be stable anyway).

If you are a "weird" user that want the last release but with a couple of new features but not all, it mean

[2017-07-07 19:08] mrbean-bremen commented on #383
Just saw this discussion and as a happy `pydicom` user decided to add my 2 cents...
I fully agree with @glemaitre (mostly for the mentioned reasons).
We have tried different models over the years, in projects of different size, especially the "development" (or "integration") and master branch model, and ended up with just a stable master branch in almost all projects (including large ones). In my

[2017-07-07 19:25] vsoch commented on #383
ok, this sounds reasonable, and I am in support if it is what the group favors. There isn't really a right or a wrong answer, but the way that I decided to think about it is in context of the community. For the primary community that I work with that clone master blindly and expect that to coincide with the latest stable release, this wouldn't work. But for something like pydicom for which a sligh

[2017-07-07 19:31] mrbean-bremen commented on #383
@vsoch - nice article - thanks! Never heard about the cactus model, but that is exactly what I meant!

[2017-07-07 19:55] vsoch commented on #383
hey @glemaitre and @mrbean-bremen here is a good first test of the cactus model! @massich has a branch at https://github.com/massich/pydicom/tree/is/382/refactoring that he wants to PR to compare with here. How should we go about doing that?

[2017-07-07 20:15] mrbean-bremen commented on #383
Well, as far as I can see, this is mostly just some restructuring without many real changes - so this would make a reasonably sized PR (if ignoring the number of files involved), that can easily be reviewed, preferably as a rebased version with a sensible commit message. As long as the state is consistent, a larger refactoring can be split into several PRs, preferably if there is a reviewer involv

[2017-07-07 20:54] glemaitre commented on #383
I would say that sometimes PR grow during revision and you should not be scared to kill it to split into several one. It is sometimes difficult to see it in advance. Refactoring is usually the difficult one (if it involves a lot of code change and not only moving file). We will see at the time of the PR ;)

[2017-07-08 00:03] darcymason commented on #383
Catching up on all this ...

I'm good with the cactus model, or similar.  I've often thought the standard model of branches for everything was overly complicated for pydicom's size and activity (and from experience in trying to do it, it was).  Small changes, brought back to master before growing too large, combined with tags (branches in cactus) for releases should work well for most things.

[2017-07-08 10:08] massich commented on #383
Then I'll do directly a PR. Maybe @mrbean-bremen could review it, he has already read it. :)

[2017-07-08 10:50] mrbean-bremen commented on #383
Well, I have been talking about a competent reviewer, not myself :p
Seriously, I think that the review shall be done by someone with a good knowledge of the structure of pydicom, e.g. one of the core developers.

[2017-07-08 19:11] darcymason commented on #383
Looking back further to the original questions here about committing and the review process.

I'm fine to go with multiple levels of developers if that makes sense.  But in addition, I'm wondering about handing off the _documentation_ components for someone else to merge.  It's clear that others have more experience than I do in that area.  In particular @massich and @glemaitre have been very acti

[2017-07-08 20:17] vsoch commented on #383
Each repo should manage it's own docs, and the easier you can make that the better. The strategy is up to whatever is best for the repo. For pydicom, it seems that sphinx is preferred, so they might build in one of two ways:

- You can still use github pages. sphinx docs deployed to `gh-pages` for pydicom/pydicom will render at pydicom.github.io/pydicom (note without touching the pydicom.github.io

[2017-07-08 20:39] darcymason commented on #383
@vsoch, you are right, for most cases documentation change will come with code changes.  I can manage the merges for the initial flurry of activity around restructuring the documentation.  After that there should be relatively few that don't involve code changes as well.

[2017-07-08 20:53] glemaitre commented on #383
I like mardown as a language (apart that there is too much flavor for something which is supposed to be a standard). However, sphinx will allow to have an up-to-date set of doc and example which is tested.

- `sphinx-gallery` generate example at each PR. Therefore if dependency are changing, one can detect stuff which are breaking.
- the doc can be easily tested.
- the user guide can use the image

[2017-07-08 21:03] vsoch commented on #383
Yep totally in agreement! I really like the gallery :)

[2017-07-08 22:49] darcymason commented on #168
I don't see any further changes to `__init__.py` for the forseeable future.  Closing this issue.

[2017-07-08 22:49] #168 closed

[2017-07-09 04:57] darcymason commented on #379
I have a similar configuration in a Lubuntu virtualbox and it is working for me.  Only obvious difference I can see is that ldconfig only returns your first line (exactly the same) but not the second.  My linux is 4.10.0-26-generic.

I had python 3.5.3 but also installed python 3.6 and it ran fine with that too.  Pydicom was installed with python<x> setup.py develop, but I don't see how that could

[2017-07-09 11:25] glemaitre commented on #383
Regarding PEP 8, do you prefer:

- Activate a third-party app with interaction directly in the PR: https://github.com/OrkoHunter/pep8speaks
- A script which will be run by travis as in scikit-learn: https://github.com/scikit-learn/scikit-learn/blob/master/build_tools/travis/flake8_diff.sh

[2017-07-09 11:40] massich commented on #383
having pep8speaks kicking our buts, seems kinda fun, doesn't it ?

[2017-07-09 11:49] glemaitre commented on #383
Sometimes it is not enough load compare to the red cross of travis ;)

[2017-07-09 12:20] massich commented on #383
well.. it's always good when you see travis in red and someone else complaining about your writing stile. Otherways you think: - Ok travis. where did I mess up this time. Ajajajajajaj

[2017-07-09 14:09] darcymason commented on #381
I'm good with dropping run_tests.py and going to pytest.

On imports, I prefer absolute imports to relative.  The [PEP324](https://docs.python.org/3/whatsnew/2.5.html#pep-328-absolute-and-relative-imports) that @massich linked notes this:

I find when going back to old code, it is much easier to follow the absolute imports.

I think I did merge in something already with relative because I'm not do

[2017-07-09 14:47] darcymason commented on #383
I have no experience with either, but after a quick look I like the ability to quiet (or resume) pep8speaks through comments in a PR.

What does the travis one look like in the PR discussion? Does it just mingle in with code error results?  I'm thinking that pep8speaks would be more obvious to the submitter and separates the style issues from code issues.

While we are on the topic, I don't think

[2017-07-09 17:36] massich commented on #381
@darcymason I thought I had done a PR on this one. Sorry. I'll open the PR, ping you (and someone) to do the review.

[2017-07-09 18:48] massich commented on #383
@darcymason [this is an example](https://travis-ci.org/scikit-learn/scikit-learn/builds/249951215?utm_source=github_status&utm_medium=notification). The first 4 tests passes, while the last one (which only runs PEP8) fails.

[2017-07-09 19:14] glemaitre commented on #383
In the case of pep8speaks, it is much more integrated with GitHub but one could forget to address it before merging a PR. For the travis solution, one has to go to the CI service to check the error which is more complicated for new comers.

My poor emacs is screaming ;).

[2017-07-09 19:31] darcymason commented on #383
I can't stand screaming ;-), so, having never used emacs for more than a couple of minutes, so I had to look.  [Emacs 80-column rule](https://www.emacswiki.org/emacs/EightyColumnRule) has some interesting points;
- for accessibility, some people have to use large fonts,
- side-by-side editing is much easier
- longer than 80 means your code is almost certainly too complicated

So maybe being strict

[2017-07-09 19:37] massich commented on #383
Having a CI green light is not the end of the discussion, neither a direct merge. I guess that for some reviewers that use some PR manager or something, having the PEP8 in travis simplifies their life.
Anyhow it does not matter which way we go, and we can always amend our choice.
So I'll do the following, I'll put 2 comments, and people can give kudos to either of them. (Like this I get my ego upl

[2017-07-09 19:38] massich commented on #383
kudos for **PEP8SPEAK**

[2017-07-09 19:38] glemaitre commented on #383
We used it in imbalanced-learn and to avoid repeating the comments at each put, the initial comments is updated: https://github.com/scikit-learn-contrib/imbalanced-learn/pull/295#issuecomment-308872678
The issue could come with PR with a lot of comment in which you might forget to check the initial comment from PEP8. But I almost prefer to take this risk for all the user integration benefit :)

Ye

[2017-07-09 19:38] massich commented on #383
kudos for **PEP8** in **TRAVIS**

[2017-07-10 01:06] #366 closed

[2017-07-10 08:35] glemaitre opened #394 "CI Need to add ssh deploy key for automatic doc push"
As mentioned in #385, we need to setup a pair of ssh key GitHub/Appveyor to deploy the doc. This is currently failing even if CircleCI report green label. See below "$ bash build_tools/circle/push_doc.sh" of the deployement section.
https://circleci.com/gh/pydicom/pydicom/24

[2017-07-10 13:38] glemaitre commented on #394
@darcymason could you manage the matter.
Basically, the following instruction need to be done:
https://circleci.com/docs/1.0/adding-read-write-deployment-key/

[2017-07-10 13:41] #381 closed

[2017-07-10 17:20] mrbean-bremen opened #395 "Classify issues"
I would really like to have the current issues classified and tagged, e.g.
- adding type - "bug", "enhancement", "question" etc.
- adding complexity - "easy", "middle" (?), "hard"
- adding milestone (e.g. create milestone "1.0" and label all issues that have to fixed until then) - this one is important for people like me waiting impatiently for the 1.0 release and checking if they can help
- closi

[2017-07-10 21:08] glemaitre commented on #394
Done

[2017-07-10 21:08] #394 closed

[2017-07-10 21:12] vsoch commented on #394
woot!

[2017-07-10 23:53] scaramallion commented on #395
There are a bunch of issues I think should be closed:
* #22, #162 - we have the contribution guide now
* #32 - no longer relevant (I think)
* #42, #90, #201 - closed with #298/#308
* #46 - package name changed
* #106 - can't reproduce
* #140 - fixed
* #149 - updated, new generators merged in #297, #299, #369
* #152 - fixed
* #216 - closed with #295, #304, #307
* #282, #305, #317 - inactive
* #310

[2017-07-11 00:47] massich commented on #395
Totally in favor.

[2017-07-11 00:49] #22 closed

[2017-07-11 00:50] darcymason commented on #162
Now handled via contribution guide

[2017-07-11 00:50] #162 closed

[2017-07-11 00:58] #42 closed

[2017-07-11 00:58] #90 closed

[2017-07-11 00:58] #201 closed

[2017-07-11 01:00] #46 closed

[2017-07-11 01:00] #106 closed

[2017-07-11 01:04] darcymason commented on #140
Closed as part of cleaning up issues.  I believe the group length handling was made more flexible.

[2017-07-11 01:04] #140 closed

[2017-07-11 01:13] #282 closed

[2017-07-11 01:13] #305 closed

[2017-07-11 01:13] #317 closed

[2017-07-11 01:14] #216 closed

[2017-07-11 01:14] #152 closed

[2017-07-11 01:14] #149 closed

[2017-07-11 01:17] #310 closed

[2017-07-11 01:17] #316 closed

[2017-07-11 01:18] #340 closed

[2017-07-11 01:19] #341 closed

[2017-07-11 01:22] cancan101 commented on #310
Why close? Not fully fixed.

[2017-07-11 01:23] darcymason commented on #395
This is awesome detective work, thanks @scaramallion.

I've closed all of them, except:
#32 -- not sure of this, I can't recall whether group length fix for writing was ever done,  Maybe it doesn't matter, as the binary compare is okay for all current tests that use it.

And the following were closed, but with comment:
#42, #90, #201.  Can be reopened if there is anything missing.
#149 closed, but

[2017-07-11 01:27] darcymason opened #399 "Update for DICOM 2017C"
DICOM standard 2017C [released recently](https://groups.google.com/forum/#!topic/comp.protocols.dicom/FsbV-qidSiY).

Should update dictionaries for sure, and ideally check for any other changes.

[2017-07-11 01:32] darcymason commented on #310
Just a little overzealous cleanup.

Re-opening... and editing title.  Please edit further if doesn't reflect all missing parts.

[2017-07-11 01:36] cancan101 commented on #375
Take a look at https://github.com/chop-dbhi/dicom_anon. It's based on py dicom.

[2017-07-11 01:47] darcymason commented on #399
And I was about to go and add an Easy label to this... and you beat me to it.  :laughing: Well, I'm going to anyway.  I probably should have separated the second part, about checking for any other changes.  I think we covered the newer VRs, etc. but perhaps it is worth someone skimming through the rest of the diffs before closing this.

[2017-07-11 01:51] scaramallion commented on #399
I've had a look and haven't seen anything else that indicates a code change

[2017-07-11 02:02] darcymason commented on #346
@rhaxton, it looks like this has had a lot of changes made; does the issue need to stay open?

[2017-07-11 02:07] #280 closed

[2017-07-11 02:13] vsoch commented on #399
## Introduction

- WADO-WS​ Web Access to DICOM Objects by Web Services (WS*) was deleted as an abbreviation (this seems only relevant for the doc)

## Conformance
- WADO WS Specification (Retired) - see page 301 for most of red/green edits. Nothing seems relevant for pydicom.
- Table A.1-2. UID Values​ has added rows:

|UID Value | UID Name |Category
-|-|-|
1.2.840.10008.5.1.4.1.1.200.3​ |Protoco

[2017-07-11 02:14] darcymason commented on #270
Closing as appears to have been fixed.

[2017-07-11 02:14] #270 closed

[2017-07-11 02:24] darcymason commented on #322
Closing as appears to be inactive.

[2017-07-11 02:24] #322 closed

[2017-07-11 02:24] vsoch commented on #375
This is similar to what MIRCTP does - there is a list of header tags that, when present, will flag an image, and it is dealing with replacement / cleaning of dicom header fields.  I made a similar application that does this --> pydicom.github.io/deid but neither solve the issue of finding pixels with PHI in data given that there isn't a pattern matched or obvious header field specified. I was work

[2017-07-11 02:25] darcymason commented on #318
Closing due to inactivity.

[2017-07-11 02:25] #318 closed

[2017-07-11 02:28] darcymason commented on #303
Hi @mischkew, sorry there was no response to this previously.  If this is still a problem, then a PR against the current master would be great.

[2017-07-11 02:31] darcymason commented on #292
Waiting on #293 to be completed.

[2017-07-11 02:38] darcymason commented on #291
Setting milestone here to start deprecating DeferredRead in v1.1 (#139 memmap solution to be implemented in that milestone).

[2017-07-11 02:47] darcymason commented on #210
@ManuelaPa, I'm cleaning up issues, do we still need to keep this one?  I neglected to reply to your last comment, but I think my same principles apply: you would have to check the value for blank before any operation which doesn't accept that.

[2017-07-11 02:49] darcymason commented on #174
Closing this issue, as I'm going through and marking v1.0 labels now, and with the new pydicom 'organization' umbrella, teams, etc. we can look into assigning contributors to various issues as well.

[2017-07-11 02:49] #174 closed

[2017-07-11 02:53] darcymason commented on #135
I think we should leave this behaviour for now.  But should be documented.

[2017-07-11 03:13] darcymason commented on #130
Reviewing issues, this appears to be still happening in today's master branch:
[code]

[2017-07-11 03:15] #125 closed

[2017-07-11 03:24] darcymason commented on #158
Reviewing issues... should check whether this is still an issue.  Basically whether transfer syntax is linked to `is_little_endian` and `is_implicit_VR` in this kind of scenario.

[2017-07-11 03:26] darcymason commented on #395
I've gone through about half of the remaining issues, closed some, and labelled some with either v1.0 or v1.1 milestones and other labels.  Will continue more cleanup when I can.

[2017-07-11 03:32] scaramallion commented on #399
In general, parts 5, 10 and some of the details in part 3 may affect pydicom, while changes to part 6 will require updating the data dictionaries.

Changes to 4, 5, 7 and 8 may affect pynetdicom.

[2017-07-11 04:11] darcymason commented on #395
.... and I'll go through again and filter down the v1.0 issues to a reasonable set of the most important ones.

[2017-07-11 04:25] rhaxton commented on #346
@darcymason I would love to get some test cases for all the encodings, but I don't think that is likely any time soon.   Some of those encodings are likely quite rare in medical equipment (turkish...) and would have been skipped over in favor of utf8.
The current build satisfies all my test cases, so I suggest closing it.

[2017-07-11 05:18] scaramallion commented on #158
Currently, if writing to standard then the Transfer Syntax UID element will be added (if possible, `is_implicit_VR = False` and `is_little_endian = True` is ambiguous). There's also notes in the docstrings for `Dataset.save_as` and `filewriter.write_file` that the user is expected to set Transfer Syntax UID correctly based on the values for `is_implicit_VR` and `is_little_endian`.

I'm not sure ab

[2017-07-11 07:58] ManuelaPa commented on #210
Hi ,
Yes you can close it . The problem was that the information on the UN field
was encoded and I solved it like:
if data_element.VR == "UN"
      output = np.fromstring(output, dtype='str')
Thank you,
Manuela Pacheco

2017-07-11 4:47 GMT+02:00 Darcy Mason <notifications@github.com>:

[2017-07-11 12:04] #210 closed

[2017-07-11 12:05] #346 closed

[2017-07-11 12:45] mrbean-bremen commented on #158
I had also noticed this, and this seems to be kind of an inconsistent API - you have to provide both the transfer syntax and the two booleans, that can be derived from the transfer syntax, so the combination can be illegal (or I don't understand the API, also quite possible).
I personally would prefer to set the transfer syntax (and possibly have a reasonable default for it, e.g. Little Endian Exp

[2017-07-11 18:40] mrbean-bremen commented on #163
@darcymason - this is labeled for 1.0, but seems outdated to me. Probably can be closed? Documentation is now done via gh-pages, not ReadTheDocs.

[2017-07-11 20:09] mrbean-bremen commented on #395
Nice work, thanks a lot! This organization stuff really gave pydicom a kick, didn't expect that!

[2017-07-11 20:39] cancan101 commented on #303
i can confirm this is still an issue on master.

[2017-07-11 20:41] mischkew commented on #303
I'll do in the next days. Thanks for coming back.
On Tue, 11 Jul 2017 at 21:39, Alex Rothberg <notifications@github.com>
wrote:

[2017-07-11 20:43] cancan101 commented on #303
I posted a PR with the patch above: https://github.com/pydicom/pydicom/pull/401

[2017-07-11 20:47] vsoch commented on #395
:D open source / team effort ftw!!

I'll be back in Stanford end of week so I hope I can jump in too :)

[2017-07-11 22:50] darcymason commented on #163
Agree. Closing.

[2017-07-11 22:50] #163 closed

[2017-07-11 23:27] glemaitre opened #402 "MAINT Cleaning branch"
We should clean the branch in the pydicom/pydicom repository.
However, I don't know what is there so I would not be able to do it.
We will need to have:

- `gh-pages`: the webpage
- `master`: the current development
- `1.0.X`: when it will be planned to make a pypi release with a feature freeze.

[2017-07-12 01:03] scaramallion commented on #290
Works fine for the current master. Looks like the missing character set was added 2 years ago, but wasn't included with the 0.9.9 release.

I'd say this can be closed.

[2017-07-12 01:58] #290 closed

[2017-07-12 02:06] #399 closed

[2017-07-12 02:13] darcymason commented on #158
I agree with both of you ;-)

It would be ideal for pydicom to ensure both are consistent, but @scaramallion is right that it is documented (and example script shows it too).  And I still stand by my old comment that pydicom doesn't enforce valid dicom; that is up to the user code.  So I'm inclined to say let's close this for now;  I don't see it being a priority for some time.

[2017-07-12 05:30] mrbean-bremen commented on #158
That's fine with me :) Go ahead and close it!

[2017-07-12 05:35] scaramallion opened #403 "Numpy an installation requirement in setup.py?"
I thought it was supposed to be optional. Looks like it got added in #397

[2017-07-12 05:46] scaramallion commented on #69
I tested reading 3500 files on a windows box and everything was fine with current master (apart from #403). Ended up getting a MemoryError when I pushed it further (box doesnt have much RAM). This might've been related to #371 but its been nearly 8 years since it was originally filed so who knows.

[2017-07-12 08:15] mrbean-bremen commented on #69
I also would tend to close this. We have `pydicom` running under Windows and processing thousands of files, and this never came up. There is also no limit on file handles under Windows, just a limit on general handles, which is quite high, so this may have been altogether another problem.

[2017-07-12 09:12] massich commented on #375
agreed

[2017-07-12 09:19] glemaitre commented on #403
Yep, I can revert that. I was checking the different import and I had some question regarding some part of the code.

- what is the purpose of the `contrib` package. It seems like helpers which use `pydicom`. I think that it would make sense to not put it is the package itself but in a separate repository. A second solution would be integrated to a more "meaningful" subpackage like `viewer`, `seri

[2017-07-12 09:49] scaramallion commented on #403
* I agree that the stuff in `contrib` would be better off as a separate repo.
* I'm not completely sure what you mean, but PEP8 advises against relative imports unless a package has a complex layout.
* Numpy is always required to use `Dataset.pixel_array`. I've been trying to figure out which additional packages are required for compressed Pixel Data, but it's not straight forward since it can dep

[2017-07-12 10:03] glemaitre commented on #403
I got intrigued (we are using relative import in scikit-learn) and check other repository of well programmed stuff and it seems that it is 50-50. So I agree that there is no point of enforcing it.

However, I think that the package would benefit of a more complex "layout" by organising it in subpackage. I still need to figure out the codebase before to propose anything meaningful.

[2017-07-12 10:10] #403 closed

[2017-07-12 11:24] darcymason commented on #403
It was in line with django -- a place to put people's contributions that were useful, but not really part of core package.  I agree that it can be removed to separate package.  If so, then now is the time as it is backwards-incompatible if people have actually coded importing these through pydicom

I'm in favor of absolute imports, and I linked somewhere else that python itself has said that it ma

[2017-07-12 11:37] glemaitre commented on #403
@darcymason I agree with moreless everything. But there is something fishy with the tests I think.
Refer to #407 for the moment

[2017-07-12 16:23] massich opened #408 "Circle CI crashes when encounters html-noplot rule"
see [here](https://circleci.com/gh/pydicom/pydicom/58?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)

[2017-07-12 21:27] #158 closed

[2017-07-13 02:05] scaramallion commented on #69
Yeah, given the amount of time that's passed and the lack of reproducibility I think its safe to close.

[2017-07-13 02:05] #69 closed

[2017-07-13 03:31] darcymason commented on #18
I've mentioned in a couple of issues some old code I had tinkered with before, but I never tracked it down or explained it.  I thought I'd do that here because I had discussed the concepts in an earlier comment in this issue.
I tried this because `dataset.py` was getting quite complex and more decompression codes were coming in, so I started looking at a general system of 'plug-in' image handlers:

[2017-07-13 19:48] mrbean-bremen commented on #192
I think that both the prefix issue and the missing randomness have been fixed in #202.
I had the same issue with non-unique uids in  0.99, and it works very well for me with the current implementation.

[2017-07-13 19:50] mrbean-bremen commented on #395
#99 - the bug has been fixed, the rest (restructuring) may be obsolete now
#115 has been fixed long ago, I think
#192 seems to be fixed (I added a comment)

[2017-07-13 23:31] darcymason commented on #99
Not looking at that any more.  Closing.

[2017-07-13 23:31] #99 closed

[2017-07-13 23:32] #115 closed

[2017-07-13 23:36] darcymason commented on #192
Agreed. If anyone still has issues, we can re-open.,

[2017-07-13 23:37] darcymason commented on #395
Thanks @mrbean-bremen.  I agree with you, and have closed those.

[2017-07-14 00:03] darcymason commented on #135
Checked - the behaviour is documented in the docstring for Dataset.get.  Closing.

[2017-07-14 00:03] #135 closed

[2017-07-14 02:30] darcymason commented on #383
I'd forgotten about this protect option.  I just set that up for master, restricted to pydicom-core team.  Hopefully this the magic combination for now.  We have two on core, so let's see how this goes and adapt as needed.

[2017-07-14 19:27] vsoch commented on #408
here is the complete output - basically (I don't think) the rule exists yet in the makefile for the doc (in the doc folder)

[code]

[2017-07-14 19:42] mrbean-bremen commented on #252
This seems to be fixed by @rhaxton in @257.

[2017-07-14 20:33] #252 closed

[2017-07-15 01:36] darcymason commented on #250
Closing this issue, travis and/or pypy are being/have been  reworked in #409, #407, #397.

[2017-07-15 01:36] #250 closed

[2017-07-15 01:37] darcymason commented on #251
Closing this issue, travis and/or gdcm testing are being/have been  reworked in #409, #407, #397.

[2017-07-15 01:37] #251 closed

[2017-07-15 02:38] darcymason commented on #395
I've reviewed the set of issues that at the moment have a v1.0 label.  Summarizing a little without requiring hover over link:

#303 (byte to str on decompress) -- PR #401 working on it, some cleanup being done

#273 (YBR), #263 (Color spaces), #205 (Palette color) are all related to pixel data issues.  Being worked on, can complete once refactoring/testing framework in #409 is fully done.

#50 (H

[2017-07-15 03:14] vsoch commented on #172
This is an interesting question, it's a bit of a circular dependency. For example, in pynetdicom3 (pynetdicom  with support for python 3 and restructured a bit) we [have all these codes represented](https://github.com/pydicom/pynetdicom3/blob/master/pynetdicom3/sop_class.py#L1274). The way I originally thought about it, pynetdicom/3 is specifically for SOP / different transfer protocols, which wor

[2017-07-15 12:32] scaramallion commented on #172
@vsoch you're comparing apples to oranges, the SOP Class classes in pynetdicom3 are the implementation of the corresponding Service Class' SCPs, while in pydicom the SOP Classes are part of the UID data dictionary. They belong in both projects since they're different things.

I don't really understand the example @cancan101 gave. Why would you need a SOP Class class object when dealing solely with

[2017-07-15 13:31] mrbean-bremen commented on #172
I agree with @scaramallion. Maybe we can extend the script that reads the UIDs from part 6 and create UID instances for the storage SOP classes (I don't see much need for other classes),  or add another script that does this.
The name I would handle the same way as with tag names - just remove the spaces and other non-letter characters.
What do you think?

[2017-07-15 14:41] darcymason commented on #50
There was a lot of discussion previously, now I'm trying to tidy this up for v1.0 release (or not).

Here is my 'gun to the head' gotta make a decision, quick solution:

- make `PixelData` gettable or settable as a numpy array
- `pixel_array` can stay as a 'getter', perhaps with DeprecationWarning, but is simply an alias for `PixelData`
- as now, setting pixel data is done without enforcing connec

[2017-07-15 15:35] darcymason commented on #172
Before DICOM had 'keywords', pydicom created the names itself using just this kind of thing (for the regular dictionary).  It was removed not long ago.  Here is a link to old code: [`CleanName`](https://github.com/pydicom/pydicom/blob/4b80fd4836ab8cb411db95fe97d7c4c42081afe7/pydicom/datadict.py#L113)

[2017-07-15 17:09] mrbean-bremen commented on #172
@darcymason - ah yes, almost exactly what is needed for that. Do you think it makes sense to add a script that generates another python file containing the UID classes? Storage classes only, or all of them?

[2017-07-15 17:21] cancan101 commented on #50
I disagree with the suggested changes. I think that `PixelData` should continue to return the raw bytes. This would be 1. consistent with previous behavior and 2. consistent with how the attr access works for all other dicom keywords. Further the idea of transparently calling `tostring` on the array when assigning is problematic. This works when creating uncompressed dicoms, but currently I am cre

[2017-07-15 17:31] vsoch commented on #50
I think having variables that are named clearly based on what they return makes a lot of sense. pixel_data, as a naive person like me would understand it, is the data from the pixels in some format I can work pixel_bytes is the same data in bytes.  I can think of use cases for wanting both -
 the one that is strongest for my groups are just wanting to extract pixel data for image processing, in wh

[2017-07-15 17:37] darcymason commented on #50
Where are raw bytes returned for other DICOM keywords?  Binary numbers, for example, are changed to int, float, etc.  Multi-valued items are split by the slash and returned as python data types. RawDataElement's carry the raw bytes, but only until they are accessed, then they are converted.

Yes, this is an issue.  But in any case we have a numpy array to return, whether it is called `PixelData` o

[2017-07-15 17:40] vsoch opened #412 "MAINT clean up all files for pep8"

[2017-07-15 17:57] cancan101 commented on #50
I don't love the idea that depending on whether it is bytes or an array that is assigned to `PixelData`, the behavior is different.

[2017-07-15 18:05] darcymason commented on #172
@mrbean-bremen, can you clarify what you mean by 'UID classes'?

[2017-07-15 18:11] mrbean-bremen commented on #199
@suever - are you still working on this? If not, I could take this over (looking for easy bugs...)

[2017-07-15 18:14] mrbean-bremen commented on #172
I mean the same as with the transfer syntaxes in ``uid.py``, like:
[code]
Just generate a file with similar defintions for the storage SOP Classes.

[2017-07-15 18:15] darcymason commented on #50
There is some concern there, I suppose, but in line with python's 'We are all consenting adults' philosophy, I see it that if someone assigns bytes, then they have full control, we write what they set.  If they assign a numpy array, we are going to convert it to bytes when it is written.  If that isn't what they wanted then they must have assigned the wrong array anyway, or have not set the other

[2017-07-15 18:22] mrbean-bremen commented on #412
Make sure not to touch files that are already cleaned up in PRs!

[2017-07-15 18:31] darcymason commented on #172
Sure that sounds good.  If it is kept to the storage ones, then I certainly have no problem.  If it were all UIDs, then I'd worry about making sure it is not automatically imported, for [performance issues for scripts](https://groups.google.com/d/msg/pydicom/EVV3POQqhJQ/FPVvqfor7TQJ) processing thousands of files.

[2017-07-15 18:41] mrbean-bremen commented on #172
Ok, I will give it a try then.

[2017-07-15 18:52] vsoch commented on #412
good call!

[2017-07-15 18:54] #234 closed

[2017-07-15 18:55] #408 closed

[2017-07-15 19:07] vsoch commented on #412
Files either under PR or done here:

tree -P '*.py' -I 'build|build_tools|__pycache__'
.

- [ ] ├── doc
- [ ] │   ├── auto_examples
- [ ] │   │   ├── images
- [ ] │   │   │   └── thumb
- [ ] │   │   └── plot_read_dicom.py
- [ ] │   ├── _build
- [ ] │   │   ├── doctrees
- [ ] │   │   │   └── auto_examples
- [ ] │   │   └── html
- [ ] │   │       ├── auto_examples
- [ ] │   │       ├── _downloads
-

[2017-07-15 19:35] darcymason commented on #7
Closing this issue.  Old, and many new files have been added since this was created.  Can continue any discussion in #382.

[2017-07-15 19:35] #7 closed

[2017-07-15 20:10] mrbean-bremen commented on #172
Ok, that works, with one exception: there is a SOP class '12-lead ECG Waveform Storage' - any idea how to generate an identifier for this one? TwelveLead...?

[2017-07-15 20:14] darcymason commented on #95
Reviewing old issues... this looks like it might still be a useful addition.  I'm thinking now that it is simpler, and probably more useful, if the user provides a set of tags they are interested in, e.g. ```specific_tags = ['PatientName', 'Modality', 'StudyID', 'SliceLocation']```.  As discussed above, that could be used in the inner data_element_generator loop, which would `yield` only the ones

[2017-07-15 20:23] darcymason commented on #28
Closing this old issue.  I think sufficient formatting is available in `Dataset.formatted_lines()`.

[2017-07-15 20:23] #28 closed

[2017-07-15 20:33] darcymason commented on #40
Corrected link to example file: https://groups.google.com/d/msg/comp.protocols.dicom/HtERtuLstAo/cKJXl0HLVHwJ

I could read the dicom file fine, with just a sequence of encrypted items included in it.  I am closing this issue, as users can work out for themselves how to decrypt the encrypted components.

[2017-07-15 20:33] #40 closed

[2017-07-15 21:04] darcymason commented on #172
I can't think of anything better.  The only other option I think is to put some arbitrary character in front, which no one would remember anyway.  Is it easy enough to special-case that one SOP class uid, and hope that no more emerge later?  Quick search shows there is a function [`isidentifier`](https://docs.python.org/3.3/library/stdtypes.html#str.isidentifier) now in python 3 that can confirm v

[2017-07-15 21:09] mrbean-bremen commented on #172
Ok, thanks, I will add special handling for that one. If something goes wrong the resulting file will be invalid, so this will be obvious immediately.
I will create the PR tomorrow - done for today.

[2017-07-15 22:32] vsoch commented on #412
Note: it looks like the pydicom/utils folder has it's own subdirectory for testing, with some of the helper modules possibly repeat?

[2017-07-15 23:20] vsoch commented on #412
Note: I had to write a helper function to deal with a lambda it didn't like: https://github.com/vsoch/pydicom/blob/fix/pep8/pydicom/values.py#L241 however this looks like it goes into another function as a generator, so would be good to get another set of eyes to look over the fix. Likely if something is broken it will come up in tests.

[2017-07-16 00:20] vsoch commented on #412
dicom_dict is going to need to be a special case

[2017-07-16 01:33] darcymason commented on #19
@jleclanche, I'm reviewing  issues in pydicom.  Is this still a possibility?  It looks like we are taking out the `contrib` folder for pydicom v1.0, so I'm not sure where this would fit in pydicom.  Perhaps it should be its own package?

[2017-07-16 01:41] darcymason commented on #37
Closing this to focus pydicom on pydicom core issues.  Can't find an active wrapitk so not sure of its status.

[2017-07-16 01:41] #37 closed

[2017-07-16 01:44] darcymason commented on #58
Closing this for now.  Don't see it in near future for pydicom, and there are other simpler options like functions which set multiple data elements at once.

[2017-07-16 01:44] #58 closed

[2017-07-16 01:54] darcymason commented on #68
Will close this for now, I think we have moved on from this.  Attaching the skeleton_vr.py file for reference in case we lose googlecode archive eventually.
[skeleton_vr.zip](https://github.com/pydicom/pydicom/files/1150776/skeleton_vr.zip)

[2017-07-16 01:54] #68 closed

[2017-07-16 02:12] darcymason commented on #412
Is it possible to disable line-length check for a specific file?  Alternatively, the script that generates it could compose each line and split them to try to make < 80, but on a quick look, there are some keywords that are so long I'm not sure it would be possible for all of the lines.

[2017-07-16 02:16] vsoch commented on #412
I tried splitting the different pieces into the elements, but single elements are still too long. The only thing that might work is some weird structure that defines each individual element as a variable, and then writes it into the datastructure. That seems a little forced to conform to pep8 though.

It looks like we can't disable it for a file, but we can add a `# noqa` at the end of a line to d

[2017-07-16 02:39] darcymason commented on #412
I agree that the 'weird structure' is undesirable.  I'd much prefer the `#noqa` but I don't love that either.  They really need an option to suspend particular error codes for a specific file, or at least to increase the allowed line length in a specific file.  I've looked around, but I don't think there is such a thing.  A single comment at the top of a file like ```# pep8: ignore E501``` would b

[2017-07-16 02:53] darcymason commented on #412
Another thought:  if I understand correctly, pep8speaks is only going to comment on files which were changed in the PR... so since the dict files only change rarely (usually only when the standard is updated), we could just ignore the pep8 violations on these files when they come up.  Ideally, the generator script could at least get most lines n compliance, which would anyway make the file a bit e

[2017-07-16 03:03] bastula commented on #37
In case it comes up in the future: https://github.com/SimpleITK/SimpleITK

[2017-07-16 03:47] rhaxton commented on #50
I would also prefer not to break existing code (meaning mine).  I am used to the pixel_array/PixelData  duality and I don't find it any worse than the horror that is character encodings in python 2.7.   I like the idea that pydicom can read any tag right out of the box without needing numpy/scipy/pillow/etc.
Any change that breaks client code is a big step.

[2017-07-16 13:30] mrbean-bremen commented on #412
I think in the long run pep8speaks may not be the best tool, if it does not allow such a configuration.
To kick this off it may be a good thing, but afterwards I would prefer a pylint check that
- checks more issues than just pep8 (more important stuff IMHO)
- can be configured better

@darcymason - you used to have landscape.io running for that, what happened to it?

For the current issue, I agre

[2017-07-16 13:38] mrbean-bremen commented on #395
@darcymason - so what remains for 1.0 are all pixel data issues you are already working on - nice job!

There are a couple if issues that are easy to fix (I think), but not flagged for 1.0. Would it be ok for you if I occassionally grab one of these? I would only do that after @vsoch has finished the PEP8 cleanup, though.

[2017-07-16 13:54] mrbean-bremen commented on #209
Ok, this is a problem with EnhancedMR data (same will be with EnhancedCT and similar), which is just not considered in the respective code. It may make sense to support these SOP classes, but I'm not sure what else will be affected.

[2017-07-16 14:50] mrbean-bremen commented on #395
Just noticed:
#215 seems to be invalid (misunderstanding)

[2017-07-16 14:52] darcymason commented on #395
Well, not me personally, although I will try to get more involved in that ... very important to figure out best way to deal with different pixel representations.  All comments welcome.

Absolutely.

[2017-07-16 14:56] darcymason commented on #215
As @mrbean-bremen commented, this appears to be okay.  Closing.

[2017-07-16 14:56] #215 closed

[2017-07-16 14:56] suever commented on #199
@mrbean-bremen I had done some initial investigation, but that was a while ago so feel free to take it over.

[2017-07-16 15:26] mrbean-bremen commented on #199
Ok, thanks - taking it then.

[2017-07-16 16:10] bastula commented on #209
Maybe just a conditional for EnhancedCT/MR SOPs? It should work like a dicom series. However that code only existed in contrib. Not sure the best way to handle it.

[2017-07-16 16:12] bastula commented on #209
Actually I saw these images in the clinic a few days ago and only a few systems supported it based on their conformance statement. A use case could be to extract the individual slices into separate files for older systems to read.

[2017-07-16 16:18] darcymason commented on #412
I agree with you @mrbean-bremen, a more comprehensive tool might be better.  I'm not sure where landscape.io came in or when it left (I think with the recent changes, but not sure). These things are not my area of expertise, so I've been happy to let other people lead on that and I find out about great tools that I didn't know about.

I'm not sure about configurability, though, I get the feeling t

[2017-07-16 16:21] vsoch commented on #412
I think it's pretty easy to call pylint just from travis - we can use pylint and pep8speaks without needing another third party service (unless there is some additional advantage to it?) I tested and confirmed that we can add `  # noqa` to the end of lines for pep8speaks to ignore, so what we can easily do is just add that.

I'm going for  a morning run, but I'll be back working on this today! I a

[2017-07-16 16:27] vsoch commented on #412
oh and @mrbean-bremen I've been calling pep8 just manually from the command line, you can do:

[code]
and it has the standard set of options to include/exclude, etc:

[code]

I'm becoming quite fond of it :) Cute little robot! :robot:

[2017-07-16 16:47] mrbean-bremen commented on #412
(Back from an evening walk) - I 'm ok with pylint in travis, also pep8 in travis would be sufficient for me. Landscape.io  (haven't tried other tools) does basically the same, only with a few graphical bells and whistles, like history and such, similar to codecov for coverage. It also fails the build if the pylint score decreases, and can be configured by standard pylint.rc. I just thought you guy

[2017-07-16 17:22] mrbean-bremen commented on #209
Ah, I didn't notice that this code is in contrib.
@darcymason - I think the current decision is to remove the contrib code and/or put in into a separate package? I'm not sure how to handle the issue in this case...
@bastula - yeah, EnhancedMR has been around maybe for 15 years, but the only images I have seen for most of this time are some sample images on David Clunies site, and almost nobody has

[2017-07-16 17:39] vsoch commented on #412
haha, I'm kind of old school, I usually just have one CI service (travis or circle when artifacts are needed).

[2017-07-16 18:10] rhaxton commented on #209
EnhancedMR is supported natively by pydicom (there are enhanced MR test images). The pixel_array returned is a 3d array.  I process EnhancedMR from Philips with pydicom without a problem.  I manually parse the PerFrameFunctionalGroupsSequence and SharedFunctionalGroupsSequence returned by pydicom when I map the enhanced MR to the Patient->Study->Series->Image DICOM model.  I think can find that co

[2017-07-16 18:29] mrbean-bremen commented on #209
Ah ok - I haven't needed this on the python side (did this part with dcmtk on the C++ side) - good to know! As far as I see it, the specific handling for functional groups for study-series relationships does indeed not belong into pydicom, but in user code (or a separate package based on pydicom).

[2017-07-16 18:37] darcymason commented on #50
I appreciate everyone's comments.  I'm certainly willing to keep things as they are, which is obviously much easier.

Interestingly, though, I just tried something:
[code]
And compared the output file with the original.  Binary identical.  So it seems that we can already set the PixelData to a numpy array and it seems to work fine.  Reading on python's write() method, it can accept any "bytes-like

[2017-07-16 18:53] darcymason commented on #209
If there is something simple that could be put in pydicom to help support this, then we could consider it.  But generally, as long as the file can be read and the user can work with the data elements, then 'extras' don't need to be in pydicom IMO.  Perhaps instead a short code could go in an example file that is carried with pydicom.

[2017-07-16 23:02] vsoch commented on #395
I can help to think about pixel representations - is the core issue that different images will have different pixel formats, and/or that there are different use cases (and users would want bytes vs. numpy array, for example)? What is (a simple summary) of the strategy that pydicom takes now? I can give a brain dump with some ideas if someone can give a sense of the conflict (I'm a pydicom noob, ap

[2017-07-17 01:05] darcymason commented on #395
@vsoch the core issue is that given the same file, two different decompression handlers can give back different pixel data.  And pydicom does not give correct pixel data for some color images.  The pydicom strategy previously was to not transform pixel data (other than reshaping according to number of planes and resolution), but leave that to the user.  Pydcom let the user worry about any slope/in

[2017-07-17 03:49] vsoch commented on #395
okay, I just looked through some of the old posts, and I think I can make some suggestions. These aren't ordered in any particular way, and I'm not sure which I like best - just a brain dump at this point :)

# Overview of Problem
Given that pydicom is a simple "read your dicom and then let developers take over" - the approach to read in raw data and then put burden on figuring it out goes to the

[2017-07-17 04:25] bastula commented on #395
@vsoch I like idea # 2. I think #58 may have originally been similar to this, as it used the concept of DICOM modules. However, as @darcymason just closed the issue, it may be better off as another project on top of pydicom?

For example, for a CT image (defined by the SOP Class UID of the DICOM file), one could follow the CT Image IOD (DICOM Standard Part 3 Section A.3.3) and several modules coul

[2017-07-17 10:09] massich commented on #395
I see the problem, I don't have a solution. I see pydicom as one of the `nibabel`'s backend + tags manipulation library. What I mean is that pydicom should be the fileio of upper modules.  Pydicom should support image modalities ( CT, MRI, US, ..) and deal with the particularities of different manufactures while upper modules *(kind of field oriented like `nilearn`)* should take care of other spec

[2017-07-17 11:23] massich opened #415 "Move Appveyor from personal accounts to pydicom account"
based on @vsoch comment in #413

Does the google group have an associated email, @darcymason ?

[2017-07-17 11:32] massich commented on #383
The fact that only master is protected allow people from pydicom-fff, be able to manipulate other branches. Like push to a PR when the contributor leaves, and we need some minor changes.

[2017-07-17 16:01] kmader opened #416 "Support DICOM Segmentation Objects"
Support the voxel-based segmentation produced by https://github.com/QIICR/dcmqi and documented [here](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_A.51.html)

[2017-07-17 18:30] vsoch commented on #415
Google groups have emails, and from past experience having tried that, it's not a great idea, because the email is most of a list (not suited for admin type emails) and in my case, the important email I needed was getting filtered for spam.

I can take care of this - with a gmail that we can share. Can everyone send me (here or privately) their gmail?

[2017-07-17 20:03] vsoch commented on #415
okay this is done:

![image](https://user-images.githubusercontent.com/814322/28287359-5e03542e-6b09-11e7-9b46-4d7feac1738e.png)

and I've also made a gravatar and organization on Docker Hub for pydicom:

https://hub.docker.com/u/pydicom/

I sent an email to those I could find contacts for, what I'd like to do is add you to send/receive the email, and then for those that warrant (core?) I would li

[2017-07-18 00:46] darcymason commented on #415
My docker hub is the same as here: darcymason

[2017-07-18 01:18] vsoch commented on #415
ok just added you!

[2017-07-18 01:23] darcymason commented on #395
Agree!  @vsoch (or anyone) is it possible to move these posts re pixel data/modules to another issue?  If not, can you at least start it with a copy of your detailed comment with Overview and Ideas 1 and 2?

Quick word just to give people a sense of where my head is at (for the moment, but still pondering):  I'm pretty much with @bastula, it makes sense to me to follow the already created dicom co

[2017-07-18 01:37] vsoch commented on #395
yep will do! I will move (or make a new issue) starting with my brain dump. I do think this is a bigger issue that deserves more thought, and I definitely would be willing to do first passes at potential implementations. The reason this is so important is that, if you think about it, the DICOM protocol is a bit dated. it works really well for what it was made for (simple storage / transfer of imag

[2017-07-18 01:40] vsoch opened #418 "[ENH] Modular Re-organization"
This is a direct copy of the issue from https://github.com/pydicom/pydicom/issues/395#issuecomment-315609707 for which we started discussing how to re-organize pydicom to allow for different image handlers, having a more modular framework like nibabel. See the issue starting with the comment linked above to follow along. This should likely be for (not the next) but a future release, as it will req

[2017-07-18 04:15] bastula commented on #418
I actually had a similar idea when I set out to make dicompyler/dicompyler-core which would have modules for DICOM RT. So far only one module (DVH) is fully complete as a standalone class, but each RT IOD has functions that are represented in `dicomparser.py`.

This could also serve as another example parallel to nibabel/nipy.

[2017-07-18 09:17] glemaitre opened #420 "Travis is not running on master"
It is strange but it seems that Travis was not trigger for master since couple of merge.
It was working for the PR thought.
If somebody could make a commit amend or a push to see if this is still the case. It could be either a service issue or a script issue (which I don't see why since it was working in the PR)

[2017-07-18 09:18] glemaitre commented on #420
#407 was failing in the PR but it is green right now in master.

[2017-07-18 09:46] glemaitre commented on #420
I recheck travis configuration and the script and there is not reason for this behaviour.
@pydicom/pydicom-core Could you check the hook in the github configuration. I would assume that something can be wrong there.

[2017-07-18 10:02] massich commented on #418
I also had similar things on the head, and my idea was to start by the tests and then refactor things bit by bit.
Maybe we should find a time-slot to chat all together, align ourselfs to not step on each other and make the most of our efforts.

[2017-07-18 10:05] vsoch commented on #420
I removed old caches and made sure it was building on branch updates, that might have been the issue?

[2017-07-18 11:23] glemaitre commented on #420
Uhm I think it could be more a hook issue. but we could trigger a master build

[2017-07-18 12:44] glemaitre commented on #420
@darcymason it seems that you could run master. what was the issue?

[2017-07-18 12:46] darcymason commented on #420
I sitll don't know.  I was looking around in the travis UI and added a cron job, with default monthly frequency, but it ran right away.  I still don't think it is hooked to automatically happen on merges.

[2017-07-18 12:46] glemaitre commented on #420
Oh no it seems that it is a CRON jobs.

[2017-07-18 12:48] darcymason commented on #420
Travis says the last build on master (other than this cron) was 2 months ago.

[2017-07-18 12:48] glemaitre commented on #420
I really would check the hook service of github. If you upgrade my rights temporary I can take a look at it

[2017-07-18 12:49] glemaitre commented on #420
Yep I saw that. It seems that it is from the time that we upgrade the .travis.yml but there is nothing inside that prevent it to run on master. That's why I think about the hook.

[2017-07-18 12:51] darcymason commented on #420
There is no webhook for travis, just an "integration".  Is that the issue?

[2017-07-18 12:52] darcymason commented on #420
I bumped fff to admin temporarily, so that should give you the rights, @glemaitre ?

[2017-07-18 12:54] glemaitre commented on #420
great I will give it a look

[2017-07-18 13:09] glemaitre commented on #420
https://travis-ci.org/pydicom/pydicom/builds/254848690

It seems that it runned on a push force in master. We have to check if this is the same on a merge.
I remove and added the service again.

[2017-07-18 16:39] vsoch commented on #420
So you don't think the issue was not building on branch updates? That was unchecked, and I checked it after you posted the issue.

[2017-07-18 17:44] vsoch opened #423 "Add requirements.txt to help install dependencies"
Per discussion here https://github.com/pydicom/pydicom/pull/419#issuecomment-316050567 we should have a requirements.txt file (and optionally one for dev) to help with installation of dependencies on local, in container, or wherever is needed! `pip freeze` can be helpful here if particular versions need to be inspected, you can make a virtual environment / container, install things fresh, and then

[2017-07-19 10:05] glemaitre opened #425 "Remove dateutil dependencie"
It seems that `dateutil` is used for `tzoffset` class which is available in python standard library since python 2.6 with `datetime.timedelta`

[code]

we should probably rework the code to remove this unecessary dependency

[2017-07-19 15:17] massich commented on #402
+1
ping @pydicom/pydicom-core

[2017-07-19 15:32] massich commented on #383
@pydicom/pydcom-fff I think we can kill this thread.
Thinks discussed
- [x] contributing guide (done #384)
- [x] PR and issue (done #386)
- [x] CI integration (done #394, #410, #405, #404 and others... we are still missing #401 and until then travis is broken but its an ongoing work)
- [x] pep8 (done #406, #413, #424. Maybe we can close #146 #398 and #145 if not done already)

Did I forgot anythin

[2017-07-19 15:40] massich opened #427 "[ENH] Refactoring the test"
#### Description

List of tasks
- [x] set up CIs
- [x] Add missing matrix cases (PR #409)
- [x] Move tests as part of the package (PR #404)
- [x] Uniform data retreival (PR #426)
- [x] Use data from examples (see discussion in #404) (blocked by migrating the examples back)

[2017-07-19 15:54] massich opened #428 "Minor Code Quality improvements"
#### Description
This issue can be used to keep track of changes to the codebase due to the new structure of pydicom-organization. When ever we came across a code snippet that can be improved, I would suggest to branch master, change the snippet (the shorter the better, too many changes are difficult to review), do a PR and reference this issue with any word (but Fix or closes, otherwise this issu

[2017-07-19 17:33] darcymason commented on #428
I like this idea to help keep the number of issues down.  Can I clarify the intent?  If I understand the proposal, it is one place to reference small code quality improvements.  But you also mention the new pydicom structure, so is it just temporary for that, or is this meant to be a standing issue more or less for ever?

[2017-07-19 18:18] mrbean-bremen commented on #428
I'm not sure I understand the purpose of this issue either. Is this because no PR shall be made without an issue? Is this part of the new policy?

[2017-07-19 19:05] vsoch commented on #427
Not sure where to post this - but since I'm least familiar with the code base (and I would like to change that so I can better develop and give feedback on PRs for the next round) if there is a well scoped task that would be useful for me to do (and I would learn some about the base) please assign me to it!!

[2017-07-19 22:35] darcymason commented on #402
Okay, here's a question:  i was thinking of forking before deleting branches... but I can't fork to my own account, because it tells me I already have a fork (pydicom/pydicom) and even if I create it then old links to pydicom under my name wouldn't redirect.  I can of course keep a local copy of everything somewhere, but is there a github solution other than creating another account?

[2017-07-19 22:37] darcymason commented on #383
Thanks for the very nice summary.

I'm okay to close this.  Will delay a little to leave time for others to comment.

[2017-07-19 23:49] massich commented on #428
@darcymason my thought came from the following use case: While updating stuff for pep8, i came across several places that I thought they could be improved. By improve I mean exchangeable code that does the same thing but it might be bit more readable, more pythonic or whatever. If I had change it in the pep8 it would had not make sense. Because these changes would endup hidden within the PR and th

[2017-07-20 03:05] darcymason commented on #428
Okay, thanks for the explanation.  I support the idea.  However, I think the title could be clearer -- perhaps "Code Quality improvements".  For me, when I read 'enhancement' I'm thinking of new features.

I'd also propose that this could be a place to temporarily document things that are found but not yet fixed.  So in the course of reviewing another PR, I might notice some code quality problems,

[2017-07-20 03:49] mrbean-bremen commented on #428
@massich - thanks, I understand your intention. I'm still not sure if this is needed, but let's try it out.

[2017-07-20 14:09] massich commented on #402
Maybe we can have a private repo called legacy and fork it there.

[2017-07-20 14:28] massich commented on #402
Actually a 'manual fork' might be what we are looking for. I've created a `pydicom/legacy_code` to try. We can either keep it there or you can do it on your own github accound and we remove it from the pydicom. My original idea was to have a private repo. But we cant.

here's the trick:
- 1 create an empty repo, (dest)
- 2 go to an empty directory and do
[code]
I guess, that it could be done in a

[2017-07-21 16:06] #287 closed

[2017-07-21 17:02] #199 closed

[2017-07-21 18:23] #383 closed

[2017-07-21 18:55] darcymason commented on #402
`pydicom/legacy_code` is perfect.

So having that in place, I've removed all branches in `pydicom/pydicom` except master and gh-pages.

[2017-07-21 18:55] #402 closed

[2017-07-21 21:05] #172 closed

[2017-07-21 22:22] vsoch opened #430 "missing directory dicomdirtests"
#### Description
A fresh clone and then `python setup.py install` triggers an error

#### Steps/Code to Reproduce

[code]
search for dicomdirtests...
[code]

#### Expected Results
pydicom is installed without missing error

#### Actual Results
[code]

#### Versions
[code]

[2017-07-21 22:24] vsoch commented on #430
and note this triggered in a Docker image, when I was rebuilding it (so the same install sequence was working before the update!)

[2017-07-22 09:21] glemaitre commented on #420
Seems to be solved

[2017-07-22 09:21] #420 closed

[2017-07-22 17:16] mrbean-bremen commented on #107
This one just needs a decision. I see the following options:
- remove the address from `__repr__` as suggested
- use `__str__` as `__repr__` like in `BaseTag` (would in this case display the contained items)
- leave the implementation as is on the base that `__repr__` does not guarantee the same outcome over different invocations

The changes for the first two options are both trivial one-liners.

[2017-07-22 18:11] vsoch commented on #107
Is the memory address essential for the representation? My understanding is that `__str__` produces a readable, human friendly print output, and `__repr__` (although it could produce the same thing) is supposed to produce something that, when evaluated, again reproduces the object (hence `repr`). So if the address in memory is not essential to reproducing (which it seems like it is mostly confusin

[2017-07-22 18:13] vsoch commented on #107
If it is some header offset relevant to the file (and important to keep) then we probably should modify the third element in the list to return something consistent.

[2017-07-22 18:26] mrbean-bremen commented on #107
I don't know of a meaningful thirs value there.
About the address - it may help during debugging, but I don't see a real benefit for it.

[2017-07-23 03:36] darcymason commented on #107
I'm good with dropping the address.  I think when I first put it in there I had read something that `__repr__` should be unique for each object, so that was one way it was done (python does this for classes):
[code]

  But as mentioned, `__repr__` is supposed to allow you to recreate the object, which the address does not do, at least not in our case with SQ.

As I said, we can drop it.  I don't s

[2017-07-23 10:33] mrbean-bremen commented on #430
This is due to the fact that files are not added recursively to package data in `setup.py` - maybe we should add the test files using a small script there.
I may have a look later today if I find the time.

[2017-07-23 11:42] vsoch commented on #430
Can we just tweak the MANIFEST.in? From:
[code]

to

[code]

[2017-07-23 11:52] mrbean-bremen commented on #430
But that doesn't fix the installed package, or does it? AFAIK, `manifest.in` is only used for source packages. As I understood, all test files shall also be installed via pypi (thus the addiition to package data).

[2017-07-23 11:56] mrbean-bremen commented on #430
Though that being said, the test files shall probably go into `data_files` instead of `package_data`.

[2017-07-23 12:13] vsoch commented on #430
I am doing the install from source. This is interesting though - when I use system python (2.7.6) it installs without a hitch. The error above is produced with an anaconda installation.

When I 1. comment out the package data lines in the setup.py and 2. add the recursive include to the MANIFEST.in that fixes the install from source for anaconda. Maybe there is some conflict, for some version of s

[2017-07-23 13:00] mrbean-bremen commented on #430
Hm, sounds like that... I don't have experience with anaconda, maybe @massich or @glemaitre have an idea.
Anyway, I think we shall have the file list in one place (I think `package_data` or `data_files`), and also remove `include pydicom/*` from `manifest.in`, this should not be needed.

[2017-07-23 13:26] vsoch commented on #430
I think using package data in setup.py should work! I looked around and this seems to be the closest to my issue: https://github.com/pypa/setuptools/issues/483

[2017-07-23 15:47] glemaitre commented on #430
`MANIFEST.in` is just used to create the tar ball. You need to edit the `package_data` in `setup.py` for copying the data

[2017-07-23 15:50] glemaitre commented on #430
also you should try using `pip install .` instead of `python setup.py install`.

[2017-07-23 15:53] glemaitre commented on #430
I could not reproduce. We would need to know about gdcm, jpeg_ls and pillow version as well as pydicom

[2017-07-23 15:55] glemaitre commented on #430
[code]

[2017-07-23 16:43] mrbean-bremen commented on #430
@glemaitre: the problem seems to be that the used version of setuptools cannot handle paths with subdirectories in package_data. Anyway, we want to package all test data, so we may want to add these subdirectories to package_data explicitly or via a script.

[2017-07-23 16:45] mrbean-bremen commented on #430
I could not reproduce the problem either  (using pip install), but the dicomdir test directories were missing  (obviously, as they have not been added ).

[2017-07-23 17:46] glemaitre commented on #430
It is what I meant by editing `setup.py` in `package_data`. we can call a function which add stuff recursively using `glob`: https://stackoverflow.com/questions/27664504/how-to-add-package-data-recursively-in-python-setup-py

[2017-07-23 18:09] vsoch commented on #430
Here is the error, done in a fresh image:

https://asciinema.org/a/130194?speed=3

It's not a fix to assume that the user will use pip - using `python setup.py` is pretty common / standard, if the user finds the package via github and doesn't take the time to read install instructions :)

[2017-07-23 18:28] mrbean-bremen commented on #428
Ok, just made a minor PR (#433) and forgot mentioning this issue... @massich - what should go here besides the issue number? I'm still not sure how the PRs are supposed to be organized in this issue.

[2017-07-23 18:33] mrbean-bremen commented on #430
Well, it should work with both `pip` and `python setup.py install`.

[2017-07-23 18:36] mrbean-bremen commented on #430
@glemaitre - exactly.
@vsoch - maybe you can try this out (the stack overflow site describes it nicely) and check if that helps?

[2017-07-23 23:45] #95 closed

[2017-07-23 23:46] #107 closed

[2017-07-23 23:54] #123 closed

[2017-07-24 14:15] mshunshin opened #436 "Default read_size in read_undefined_length_value() in fileutil.py is too small and slows down reading large DICOM files"
read_undefined_length_value() has a default read size of 128 bytes.

This gets called once when reading large files with large amounts of PixelData (e.g. 70MB) causes it to take ~2s to open file. When changing to say 1024, or 8192 speeds up dramatically.

E.g a 69 MB file, loaded from a Samsung EVO 830 SSD via USB3.

[code]

What do you think the default should be?

Actually, it is a shame that in

[2017-07-24 19:47] mrbean-bremen commented on #436
There is a somewhat related issue (#139), which deals with reading pixel data via `numpy.mmap`.
I think your change makes a lot of sense (especially for pixel data with unknown length), so I would propose you create a PR for that.
cc @darcymason.

[2017-07-25 00:06] darcymason commented on #436
I'm +1.  I'm not sure where the original 128 came from, certainly higher makes more sense.  And mmap sounds good, but is there a performance hit for reading the whole file that way?  Or is it reasonable to open only when needing to read larger values and skip to the right offset?

How does an mmap solution handle reading a set of dicom files and dealing with the values after the file is closed?

[2017-07-25 00:13] #130 closed

[2017-07-25 07:18] mrbean-bremen commented on #436
Maybe we could just change the default size for now (4096 would be my pick), and handle the `mmap` part later together with #139.

[2017-07-25 07:44] mshunshin commented on #436
Experiments using the same SSD above, this time with a smaller file (15MB).
Using larger reads up to 8 to 16Kb continues to improve performance without harming stop_before_pixels.

Can we go for 8KB?

Will send a PR

[code]

[2017-07-25 16:00] mshunshin commented on #139
As someone who abuses mmap for speeding things up in pydicom and were we could go...

1) A fair amount of "slowness" in reading large files was in the small reading window that was being used #436 that should now be fixed.

2) If you don't need the image, putting stop_before_pixels=True means you can read the non-pixel data within a handfull of ms.

Thinking about strategy:

I don't think the nump

[2017-07-25 20:16] #436 closed

[2017-07-26 12:48] ltrojan opened #441 "(0x00e1, 0x1002) Error"
#### Description

Accessing the `(0x00e1, 0x1002)` item in the dicom data raises an exception

Terminal output

[code]

not sure if other fields are affected.

git blame show that the line originating the exception (`msg += "dictionary for private creator {1}".format(private_creator)`) was introduced in commit 8550b39 *finishing up contrib*

#### Versions

[code]

[2017-07-26 16:05] mrbean-bremen commented on #331
@rhaxton - didn't you fix this already?

[2017-07-26 17:57] mrbean-bremen commented on #136
I looked around, and I think it is indeed the best way to use `collections.MutableSequence` here.
If nobody objects, I will have a go at this.

[2017-07-26 20:23] rhaxton commented on #331
@mrbean-bremen Yes, this has been fixed. Though I wish I had something better than what I did (try..except, try..except)

[2017-07-26 20:23] #331 closed

[2017-07-26 20:38] mrbean-bremen commented on #331
In this specific case (IOError) there is indeed a better solution - this has been changed by @cancan in #401.

[2017-07-26 23:39] rhaxton commented on #331
@mrbean-bremen Aha, I see that now.  IOError.strerror prints a shortened version of the error message without the filename (which might be unicode), but there isn't any filename in this case anyway.  Also, str(IOError) returns a mangled version of a unicode filename suitable for printing in all cases.

[2017-07-27 01:40] #303 closed

[2017-07-27 11:02] mshunshin opened #444 "generic_jpeg_file_header in dataset.py is a tuple of bytes rather than bytes"
The code generic_jpeg_file_header has been specified as a few lines of bytes in a tuple (I presume for convenience / PEP8).

It is missing a join statement to join them together
[code]

i.e.

[code]

I am submitting a PR.

M

[2017-07-27 11:06] mshunshin commented on #444
Though since I am here - why do we need to add this header. My files currently have a header and PIL read them ok. I presume there are some files out there where the header is stripped?

Adding the header to my file with a header seems to still work with PIL- so I haven't interfered - but interesting to know why.

[2017-07-27 12:59] massich commented on #136
@mrbean-bremen go for it

[2017-07-27 19:25] mrbean-bremen commented on #233
@Korijn - is this still valid?

[2017-07-27 19:48] mrbean-bremen commented on #395
I checked the state of the remaining issues, and there are some of the older ones that have no label or milestone. I think if these are handled, we can close this issue. Here are the remaining ones:
- #209 (_pydicom_series read_files() incompatible with DICOM from (3T) Philips MRI_) - what is left here, is a suggestion for an example showing how to handle Functional Groups
- #219 (_Add support for

[2017-07-28 04:40] Korijn commented on #233
Most of the attempt was futile. There is some sort of memory glitch where the stream memory gets corrupted halfway through the process. I think it has to do with the GDCM wrappers. I was never able to make it work.

[2017-07-28 06:25] mrbean-bremen commented on #233
That's a pity, given all your effort. Do you think it makes sense that someone else tries that, or shall we just close this?

[2017-07-28 06:28] mrbean-bremen commented on #444
Fixed by #445.

[2017-07-28 06:28] #444 closed

[2017-07-28 07:02] Korijn commented on #233
Honestly, I think pydicom would be better off working with something like [Glymur](http://glymur.readthedocs.io/en/latest/introduction.html). I wish I knew about that project in 2015. ;)

[2017-07-28 07:18] mrbean-bremen commented on #233
But that's for JPEG2000 only, isn't it?

[2017-07-28 07:19] Korijn commented on #233
I'm not sure if there are other compressed image data protocols that GDCM supports, so I think that covers it...

[2017-07-28 07:23] mrbean-bremen commented on #233
AFAIK GDCM supports all transfer syntaxes (JPEG lossy and lossless, RLE etc).

[2017-07-28 07:35] Korijn commented on #233
Perhaps [Pillow](http://pillow.readthedocs.io/en/3.4.x/handbook/image-file-formats.html#jpeg) can handle most of it nowadays?

[2017-07-28 07:39] mrbean-bremen commented on #233
There are some issues with `Pillow`, but generally `pydicom` supports both `pillow` and `gdcm`. There is some restructuring in progress that separates code for `pillow` and `gdcm` (with and w/o `numpy`) in separate image handlers, see #409.

[2017-07-28 07:59] Korijn commented on #233
Ah, that's perfect. That was one of the issues I had trouble with in this work...

Another issue is that GDCM can't read from bytearrays, it really only supports a filename. I basically ended up trying to reimplement the ImageReader class using the wrappers of all the low level utilities...

[2017-07-28 08:05] mrbean-bremen commented on #233
Ok, maybe you have another look at this when the restructuring is done.

[2017-07-28 11:09] mshunshin opened #446 "Addition of python RLE support - have code - needs integrating."
pydicom has been lacking RLE support.

I monkey patch my code - but for reference here is how I do it:

1) You get the PixelData byte stream and read the start tags (pydicom does this and throws it away), and then the data of the pointer to where each frame:

[code]

Then from each DICOM frame element you read the RLE data. It features a header, which has a 4 byte tag, then the number of planes, t

[2017-07-28 11:29] mshunshin commented on #446
I would be keen for a plan for a different interface for access to PixelData and pixel_array.
I have modified my own version - but was wondering what you would like.

My use case:
The user can open large folders of DICOM files (say 150 files); each which may have long movies (e.g. 200 frames; 60MB compressed, 200MB or more uncompressed) and sees their details and the first frame from the file. Tim

[2017-07-28 13:48] #441 closed

[2017-07-28 14:27] darcymason opened #447 "Copyright"
Started an issue after discussion in [a pull request](https://github.com/pydicom/pydicom/pull/440#pullrequestreview-52394096) turned to how to format pydicom source code copyright statements.  I think this topic could use a good review to see what current practice is, come up with a consensus, then put this in contributing guidelines.

The original copyright notices in pydicom source code files we

[2017-07-28 14:34] mrbean-bremen commented on #412
@vsoch - as far as I can see, you are done here, right?

[2017-07-28 16:27] vsoch commented on #412
yep let's close this issue! Thanks mrbean!

[2017-07-28 16:27] #412 closed

[2017-07-29 00:10] scaramallion commented on #447
scipy uses copyright notices in older files but it doesn't look like they do anything in newer ones.
nibabel has a note in each file saying to check the COPYING file.
pillow uses them.
matplotlib doesn't.
numpy doesn't.

[2017-07-29 00:33] scaramallion commented on #447
There's also [this](http://www.softwarefreedom.org/resources/2012/ManagingCopyrightInformation.html) from the Software Freedom Law Center.

I'm in favour of replacing the copyright headers with a (short) note directing people to the top level LICENSE file.

[2017-07-29 00:43] scaramallion commented on #446
It's difficult to tell, are you using numpy to handle the pixel data? Do you have a reasonably sized example file to play with?

[2017-07-29 17:54] mshunshin commented on #446
I don't have a file without patient data lying around - but will make one next Friday and post it.

Re: Numpy - only at the end I convert the byte string (that represents a series of uint8) into a numpy arran and appropriately shaped. I got the feeling from that wanted to avoid adding additional dependencies  - If you cut off the last two lines:

`
out = np.frombuffer(plane_bytes, dtype=np.uint8).

[2017-07-29 18:06] mrbean-bremen commented on #395
@darcymason - I updated the last comment with some suggestions.

[2017-07-29 18:13] mrbean-bremen commented on #447
I agree with @scaramallion. There is no legal requirement to put the copyright in the header (e.g. the copyright is valid anyway), but a one liner at the top may be helpful without being too obstrusive..

[2017-07-29 18:46] darcymason commented on #395
@mrbean-bremen, I missed the comment from two days ago - sorry.  This looks great, thanks for this.  I will review each item, but from your descriptions I think your suggestions look reasonable.  I'll likely close most of the ones you suggest and adjust labels. Anyone is welcome to post their differing opinion, if any (special call-out to @pydicom/pydcom-fff )

[2017-07-29 19:20] mrbean-bremen commented on #238
The even length depends on the VR (specifically "OB", "SQ", and "UN") regardless of defined or undefined length, so this is very likely the problem here.

[2017-07-29 19:41] darcymason commented on #238
I was guessing that the code for writing undefined length missed the padding step (but defined length writing does it correctly).  Not sure if it even is different path in the code, would have to look again at source.

[2017-07-29 19:54] mrbean-bremen commented on #238
I will have a look tomorrow if I find the time.

[2017-07-29 20:08] darcymason commented on #447
There seems to be several examples of code using no copyright notice at all.  But I like the one-liner for now, perhaps next major pydicom version could remove it completely if felt appropriate.

So my name has been in these lines because I was pretty much the only author many years ago, and then for a while after that, most contributed changes were relatively minor.  However, I think that has rea

[2017-07-29 21:12] rhaxton commented on #446
I have added two RLE encoded versions of existing test files, mr_small.dcm and emri_small.dcm to the test suite.  I also added a test case for reading the RLE files using our currently supported decoders.  The gdcm decoder will read the standard MR (single slice) image just fine, but it will just read the first slice of the enhanced (10 slice) MR.

Right now our pixel handler interface just specif

[2017-07-29 22:57] mshunshin commented on #446
Great - waiting for your PR#409 to be merged before looking at any other changes.

[2017-07-29 23:25] scaramallion commented on #446
`Dataset.pixel_array` already requires numpy, so I don't see any reason not to use it if it offers a speed boost over your current code.

[2017-07-29 23:52] scaramallion commented on #242
Could you re-post the sample file if possible? I don't see it.

[2017-07-29 23:57] scaramallion commented on #362
Here's a test dataset with CT images, RT plan, dose, struct and images I created. Hope its not too late.
[default_data.tar.gz](https://github.com/pydicom/pydicom/files/1185358/default_data.tar.gz)

[2017-07-30 14:38] mrbean-bremen commented on #238
Ok, I think I understood the problem. If PixelData has an undefined length, a PixelData sequence is expected, e.g. a number of sequence items (usually per frame) with the pixel data - thus the first error message (it expects a sequence item, but got pixel data). This does not make much sense with an uncompressed transfer syntax, so the fix @cancan101 did does the correct thing.
Anyway the writing

[2017-07-30 14:56] mrbean-bremen commented on #238
Or, on a second thought, it may be expected that the pixel data already is organized in items for the undefined length case - in this case all is correct and this would not be a bug.

[2017-07-30 18:49] rhaxton opened #449 "Travis/CirlceCI needs to install CharPyLS"
The CI systems Travis/Circle CI do not properly install the CharPyLS package (this provides jpeg_ls)

It is normally installed through:

`pip install CharPyLS `

I believe it requires compiling c code as well.

In Travis, there is currently an echo where the the install might occur.

[2017-07-30 18:52] rhaxton opened #450 "Travis/CircleCI needs to install libopenjpeg"
The CI systems Travis/Circle CI do not properly install the libopenjp2-7-dev package (this provides jpeg2000 with Pillow)

It is normally installed through:

`apt-get install libopenjp2-7-dev`

Pillow should then be installed afterwards.

In Travis, there is currently an echo where the the install might occur.

[2017-07-31 00:37] scaramallion opened #452 "[ENH] Add support for DoublePixelData and DoubleFloatPixelData"
`Dataset.pixel_array` should also handle (7FE0,0008) Float Pixel Data and (7FE0,0009) Double Float Pixel Data

[2017-07-31 00:48] rhaxton commented on #452
reference

[Floating Point Image Pixel Module](http://dicom.nema.org/MEDICAL/DICOM/2015a/output/chtml/part03/sect_C.7.6.24.html)

[Double Floating Point Image Pixel Module](http://dicom.nema.org/MEDICAL/DICOM/2015a/output/chtml/part03/sect_C.7.6.25.html)

[2017-07-31 04:02] scaramallion opened #453 "Remove README.txt from pydicom/ path"
Seems a bit redundant

[2017-07-31 14:42] #453 closed

[2017-07-31 16:18] massich commented on #362
Reference #382.
Thanks @scaramallion

[2017-07-31 16:26] rhaxton commented on #452
@scaramallion Do you have any examples of these?  I have not seen any IODs that include these.

In theory, I would like to have this support for segmentation "heat maps", but do many PACS viewers support this, or is that a non-starter for a clinic?

[2017-07-31 16:45] rhaxton commented on #446
@mshunshin PR #409 is merged now.  There is a test file in the merge called test_RLE_transfer_syntax.py.   That files show the two test files (MR_small_RLE.dcm and emri_small_RLE.dcm) that were created by converting MR_small.dcm and emri_small.dcm with dcmtk.  The only test in there that successfully decodes MR_small_RLE.dcm is the gdcm pixel_handler.

I would suggest just trying to add your RLE p

[2017-07-31 17:28] #349 closed

[2017-07-31 18:07] vsoch opened #456 "performance/time_tests has hardcoded paths"
In travis we can see:

[code]

We probably should update this to use relative paths and test times. And now @darcymason we know all the secrets of your filesystem! Or mostly, that you probably have a Mac :)

[2017-07-31 22:56] scaramallion commented on #452
The only IOD that (may) use them is [Parametric Map](http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_A.75.html), which I've never seen in the wild. It shouldn't be too difficult to create dummy datasets with suitable data though. I think this is a low priority, I mostly created the issue as a reminder.

[2017-08-01 03:11] darcymason commented on #456
Well, that is my old file system.  Yes, a mac for many years.  That performance check file was originally just for me, somehow got added in and absolute file paths left behind :blush:

[2017-08-01 07:24] pierredaye opened #458 "Writing rectangular images failed"
#### Description

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
The generated image should show a gradient with an horizontal black line in the middle

#### Actual Results
Opening the generated image in imageJ, the line set to 0 in the middle of the image is broken in 2. When generating an image with width and height inverted or a squared image, there is no issue...

#### Ver

[2017-08-01 07:59] scaramallion commented on #458
Can you attach the broken output file, and if possible the input as a csv or something?

[2017-08-01 08:07] pierredaye commented on #458
Here is the attached image (it the output of the provided script).
[fileInForDeadPixel.dcm.zip](https://github.com/pydicom/pydicom/files/1189897/fileInForDeadPixel.dcm.zip)

Thanks for the help!

[2017-08-01 11:14] scaramallion commented on #458
Your ds.Rows and ds.Columns are swapped, it should be
[code]
[numpy.ndarray.shape](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.shape.html) returns (rows, columns)

[2017-08-01 11:23] pierredaye commented on #458
I know, I tried that but it gives an output image that is not consistent
with the definition of the array (width = number of columns, height =
number of rows). I think part of the problem could come from there.
The generated numpy array is 1440x1441 but once opened in imageJ, the
generated image is 1441x1440.

On Tue, Aug 1, 2017 at 1:14 PM, scaramallion <notifications@github.com>
wrote:

--
"It d

[2017-08-01 11:33] scaramallion commented on #458
Are you sure? I created an image that had height = 100 and width = 50 and with the values swapped as I suggested the output was fine (and reversed with the original code).

Let me put it another way, the relevant lines of your code are:
[code]
You set the height (ie `ds.Rows`) of [array.zeros](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html) in index 0, but grab index 1 of `s

[2017-08-01 11:50] scaramallion commented on #458
I think maybe you're confusing matrix indexing with image indexing. Matrices use (row, column) and images typically use (column, row), which is why numpy and imagej report 'different' image sizes.

[2017-08-01 12:00] pierredaye commented on #458
Have you tried with a larger image? I tried with your 100 rows 50 columns
and it worked nicely (without a change in my original code). If I put 1441
columns and 1440 rows, it doesn't work anymore.
I agree that it is confusing to match imageJ and numpy arrays but I would
expect that if I create an array that it 1440 rows by 1441 columns, I would
have that as an output in imageJ, am I wrong?

On Tue

[2017-08-01 12:24] scaramallion commented on #458
I don't understand why a larger image would change anything.

[100 height, 50 width, original code](https://github.com/pydicom/pydicom/files/1190560/100h_050w_orig.dcm.zip)
[100 height, 50 width, swapped](https://github.com/pydicom/pydicom/files/1190561/100h_050w_swap.dcm.zip)

I'm pretty sure the image generated using your original code is the wrong shape.

[2017-08-01 12:37] pierredaye commented on #458
I did the test with the correct swap and it is working. Thanks and sorry
for the misunderstanding and the confusion!

On Tue, Aug 1, 2017 at 2:24 PM, scaramallion <notifications@github.com>
wrote:

--
"It doesn't matter how beautiful your theory is, it doesn't matter how
smart you are. If it doesn't agree with experiment, it's wrong."
Richard P. Feynman

[2017-08-01 12:47] scaramallion commented on #458
No problem, glad you got it sorted.

[2017-08-01 12:47] #458 closed

[2017-08-02 00:51] #430 closed

[2017-08-03 13:04] tfmoraes commented on #239
I solved this problem transforming the path to its [short version](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364989(v=vs.85).aspx) using the [win32api](http://docs.activestate.com/activepython/2.6/pywin32/win32api__GetShortPathName_meth.html).

[2017-08-03 15:03] Korijn commented on #239
I don't think I've explicitly stated it yet, but I've stopped working on this. I had to reimplement GdcmImageReader and the SWIG wrapper specifics kept tripping me up. I gave up in the end. So, don't expect any help from me here. Sorry about that.

[2017-08-04 01:54] #16 closed

[2017-08-04 01:54] scaramallion commented on #204
Can now be done with
[code]

[2017-08-04 01:54] #204 closed

[2017-08-04 02:37] #136 closed

[2017-08-05 02:53] scaramallion commented on #19
I think the plugin would be better off as a new project using pydicom as a dependency.

[2017-08-05 04:45] darcymason commented on #19
I agree. So we don't need to keep this issue open here.  Closing.

[2017-08-05 04:45] #19 closed

[2017-08-06 11:02] mshunshin commented on #446
Fixed in PR #460

[2017-08-07 22:00] #358 closed

[2017-08-08 04:01] #239 closed

[2017-08-08 08:17] scaramallion commented on #330
I've added [the issue](https://github.com/pydicom/legacy_code/issues/1) to the legacy_code repo for when the `contrib` gets removed

[2017-08-09 04:51] #446 closed

[2017-08-11 01:06] scaramallion commented on #446
Another optimisation (~20%) for `_rle_decode_frame`

[code]

[2017-08-11 01:14] scaramallion commented on #446
Also, if you define `header_byte = data[pos] + 1`  and make consistent changes in the rest of the `while` block it should save a couple of operations. It'd be a good idea to add comments explaining the code though.

[2017-08-12 04:16] scaramallion opened #462 "Dataset equality fails when elements added in different order"
#### Description
Dataset equality produces incorrect results

#### Steps/Code to Reproduce
[code]

#### Versions
[code]

[2017-08-13 02:00] scaramallion opened #464 "[RFC] Dataset equality"
Should `Dataset` equality check only the equivalence of its elements or should it also check the class attributes? In other words should the following produce True or False?
[code]
I guess what I'm really asking is whether or not we are interested in `Dataset` as a representation of a DICOM dataset or as a python class. Personally I favour the former (and `DataElement` already follows a similar id

[2017-08-13 03:47] scaramallion opened #466 "Encoding type lost with PersonName3"
#### Description
Encodings lost when converting DataElements that use PersonName3

#### Steps/Code to Reproduce
[code]
#### Actual Results
elem.values.encodings is set to ['iso8859', 'iso8859', 'iso8859'] because `charset.decode` calls
`data_element.value = data_element.value.decode(encodings)`. The `DataElement.value` setter then converts the `PersonName3` object with the correct encodings into a

[2017-08-13 20:02] #462 closed

[2017-08-14 06:23] jhjang opened #467 "Need help for handling overlay data"
#### Description
Unpacked overlay data size is not equal to rows * cols

#### Steps/Code to Reproduce
pixel_data = dcm[0x6000,0x3000].value #length: 548840
rows = dcm[0x6000, 0x0010].value         #value: 2294
cols = dcm[0x6000, 0x0011].value.          #value: 1914

arr = np.fromstring(pixel_data, dtype=np.uint8)
arr = np.unpackbits(arr)
arr = np.reshape(arr, (rows, cols))

#### Expected Results
R

[2017-08-14 15:06] rhaxton commented on #467
Well,  2294 x 1914 == 4390716, but the pixel_data claims to be length 4390720  which is 548840 * 8.  I am not terribly familiar with the overlay data specs, but if you just trim your pixel_data to the expected length (4390716), do you get the correct results?  DICOM does tend to pad tags, but all your numbers are even here, so I would be surprised if this was the case.

[2017-08-14 19:06] mrbean-bremen commented on #238
@darcymason, @rhaxton: Can you comment on what is expected here (see previous comments)? Depending on that, the issue can either be closed, or writing pixel data sequence shall be implemented, or the undefined length flag shall be ignored in the pixel data case.

[2017-08-14 19:16] mrbean-bremen commented on #464
I wouldn't take `_parent_encoding` into account either - the reason being that it does not change the content of the data set, but just the interpretation, so semantically it is not part of the data set contents.

[2017-08-14 22:30] rhaxton commented on #238
@mrbean-bremen : in my client code, I have to manually pad tags with a VR of OB (and others probably).  I don't think there is ever a case where a DICOM tag should have a value with an odd length?  I think that the filewriter::write_OBvalue() should pad with a \0 just like other VRs do.  This should not break any client code.

If I do:
[code]

A VR of "OW" produces the exact same file (meaning the

[2017-08-14 22:34] rhaxton commented on #464
I agree, this should be a true result.

[2017-08-15 01:04] darcymason commented on #464
+1

[2017-08-15 01:57] mrbean-bremen commented on #238
@rhaxton - true, but the padding was not the problem in this case. I thought so after a first glance, but it turned out that the problem was that   pixel data with undefined length is expected to be a sequence. Please check my last comments - sorry, I didn't make this clear in the question.

[2017-08-15 02:05] darcymason commented on #238
First, I agree with @rhaxton about the padding.  I believe it is true that all values should be padded to even, so it makes sense to do that for any writing.

I think it should either throw a NotImplementedError or the [writing should be correct](http://dicom.nema.org/medical/dicom/current/output/html/part05.html#sect_A.4) for the settings.

[2017-08-15 02:23] mrbean-bremen commented on #238
Raising an exception makes sense I think. As for doing the correct thing - we can encapsulate the pixel data of course, but does this even make sense for uncompressed data? And if we use a compressed transfer syntax, do we have he needed information at that moment?
I'm inclined to see this as an artificial use case and raise NotImplementedError with a meaningful message.

[2017-08-15 02:41] darcymason commented on #238
After I posted that link in my comment, I was thinking the same thing, and went looking for it in the standard.  As far as I can tell, encapsulation is only used for compressed transfer syntaxes.  Not my area of expertise, though, so happy to be corrected if anyone knows different.

Agreed, unless someone knows of cases where it is used for uncompressed data.  Even then, we can still use NotImplem

[2017-08-15 02:46] mrbean-bremen commented on #238
Ok, thanks - I  will do this then.

[2017-08-16 01:10] jhjang commented on #467
I think so. So I removed 4 pixels which is (0, 0), (0, 1), (1, 0), (1, 1) indexes and result is bad.
I opened the DICOM with Osiris DICOM viewer, It showed overlay good.
What's wrong with me? I want to figure out this.

How can I find pad 4 pixels? Do you have any idea?

[2017-08-16 06:32] pierredaye opened #474 "Add a sequence in a private tag -> no error but gdcmdump doesn't display a sequence. What am I missing?"
#### Description

I am trying to write a sequence in a private tag. After, I read the tags with (g)dcmdump and the sequence is not identified as a sequence but as a series of bytes. If I try to overwrite a tag that contains a sequence, then it is identified as a sequence...

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results
I expected that in both cases the output of the private

[2017-08-16 07:52] scaramallion commented on #474
I don't have any issues with DCMTK's dcmdump with the following:
[code]
Hex looks good, too.

Hmm, could you attach your output file?

[2017-08-16 07:59] pierredaye commented on #474
Here is the generated dcm file.

[output.dcm.zip](https://github.com/pydicom/pydicom/files/1227436/output.dcm.zip)

[2017-08-16 08:01] scaramallion commented on #474
I think the problem is that with the private sequence element dcmdump and gdcmdump cant determine the VR of the element, so it gets outputted as bytes. That's why dcmdump works OK with explicit VR.

[2017-08-16 08:04] scaramallion commented on #474
If you tried the same thing with a DICOM element that doesn't have a SQ VR (ie not 3002,0030) you'd likely get the same result as the private element.

[2017-08-16 08:06] pierredaye commented on #474
I changed the code to be compliant with your example and now it is working... I leave it here because I looked for a solution during a loooooong time. The trick was to put :

[code]
before saving the data. Here is the complete working example. Thank you for your quick answer!

[code]

[2017-08-16 08:07] scaramallion commented on #474
No problem, glad to help.

[2017-08-16 13:51] pierredaye commented on #474
Sorry but the fact that with implicit VR it is not working creates huge issues in our software. The DICOM files created with pydicom are read afterwards by a c++ software that complains that the structure is invalid if is_implicit_VR = True. Is there a workaround?

Thanks

[2017-08-16 15:15] glemaitre opened #475 "Deprecation of pydicom.read_file"
@pydicom/pydcom-fff @pydicom/pydicom-core

I was looking at this change: https://github.com/pydicom/pydicom/commit/d3df9a61941bb8300659a3fba07b1561159d2099

I could not figure out if the deprecation took place or not and what should be the way of calling `read_file`.
Since I am doing a pass on the doc, it would make sense the call the right function.

In the case we want to use dicomio, I would su

[2017-08-16 15:28] glemaitre opened #476 "[RFC] Make some class available at the top level"
I find a bit redundant `from pydicom.dataset import Dataset`. I don't think that calling the module itself is bringing anything. I would suggest to make some of the class available in the top level:

* `Dataset`
* `Sequences`
* `DataElement`

I make a distinction between those classes and the `dicomio`. For me it makes sense that th IOs have their own sub-package since that there is several module

[2017-08-16 17:01] glemaitre opened #477 "Move contrib in a contrib-pydicom repository"
I would be in favor of moving the contribution from the `contrb` directory into a `contrib-pydicom` directory.

@pydicom/pydcom-fff @pydicom/pydicom-core WDYT?

[2017-08-16 17:03] glemaitre commented on #477
Or why not in a viewer module. However, we would need only a single method and fallback on the available widget provider.

[2017-08-16 18:45] vsoch commented on #476
+1 on this. The most widely used classes should be available on the first level of the module.

[2017-08-16 18:47] vsoch commented on #475
Regardless of the organization of dicomio, I think that read_file should be accessible as it is now. At least for all the code bases I've made with pydicom, this import is common across most files!

[code]

[2017-08-16 19:36] massich commented on #477
I'm in favor of separating `contrib` from `pydicom` folder. We can start by having it in a separate folder with the same entity as `examples` and if it grows more we can even think about stripping it completely and give it its own project. That might simplify `pydicom` repo

[2017-08-16 20:26] darcymason commented on #475
There was talk about deprecating for a while, but I have been thinking for quite some time now that it is not worth it.  As @vsoch noted, it is so common in code that even with lots of deprecation warning it will almost certainly break lots of user code down the line when removed.

[2017-08-16 20:38] glemaitre commented on #475
I would say that this is the game of the deprecation. numpy broke user code as well :D

Anyhow, if you think that this is better, I am not against to but I think that we should have also the `read_dicomdir` accessible as well at the same level and the `write_file`.

@darcymason did anybody ever asked for a common function to read file or dicomdir. I am thinking something like `imread` which then w

[2017-08-16 21:32] darcymason commented on #475
I don't think that should be a problem.  Can be added in __init__.py as `read_file` and `write_file` are.

As to common function, that would be fine, `read_dicomdir` immediately calls `read_file` anyway, just a different object type is returned.  As it is, you should still be able to call `read_file` directly and it works, so it can be the common function. `read_dicomdir` is not really necessary.

[2017-08-16 23:37] scaramallion commented on #474
OK, so there are two things you might not be aware of (well, you're probably aware of the first one):

Firstly, there are two types of elements, the public ones in the DICOM standard, which have known VRs (value representations - basically what kind of data is stored in the element) and a list of which are included in pretty much every DICOM dictionary (such as in _dict_dict.py in pydicom) and pri

[2017-08-16 23:46] scaramallion commented on #476
Not sure if `Sequence` is required since SQ elements get converted anyway, but it would be nice.

`FileDataset`, too.

[2017-08-16 23:50] scaramallion commented on #475
I was thinking of suggesting `read_dicomdir` be deprecated in favour of `read_file` + updating to the docstring to make it clear that DICOMDIR files can also be read. It's name seems to be a [source of confusion](https://github.com/pydicom/pydicom/issues/322), too.

[2017-08-16 23:52] scaramallion commented on #477
Some of the stuff in utils (like codify.py) should probably be included as contribs.

[2017-08-16 23:59] vsoch commented on #477
I think it would be a good idea to have a separate repo - it's cleaner to keep them separate, and likely the examples will have different data dependencies that we don't want to carry around with the core software. Starting as a separate (modular) folder would be a first good start, or we could just jump into a new repo off the bat.

[2017-08-17 00:36] darcymason commented on #477
I think we discussed this before, and I think the discussion trended to having a separate repo.  In any case, that would still be my preference.

[2017-08-17 00:54] darcymason commented on #476
I'm okay with the idea of making them available top level, but one question and one comment:
* how often does end-user code use these objects directly?  I suppose for creating items from scratch one would need Dataset, perhaps Sequence
* it would have to be done with some thought to load time (and circular imports).  I went through some gymnastics in `__init__.py` to avoid loading everything when

[2017-08-17 01:01] rhaxton commented on #476
I use these quite a lot when creating structured reports, encapsulated PDFs, etc.
In general, performance really doesn't concern me too much, nor does what gets imported when.  What does concern me is any backward incompatible changes.  As long as all the existing code runs, I think it is fine to copy certain things around (in other words: `from pydicom.dataset import Dataset` should still work)

[2017-08-17 01:31] vsoch commented on #477
ok! I can do this.

[2017-08-17 02:24] vsoch commented on #477
okay, I got us started! I put notes for how I thought the organization and contribution might work, take a look: https://github.com/pydicom/contrib-pydicom

 - the same permissions / teams are added as for pydicom.
 - I'm not sure how we would handle tests? It doesn't seem like it fits to ask for tests for snippets, but if an example breaks I think we'd want to know.

[2017-08-17 05:35] scaramallion commented on #474
Your value for `file_meta.MediaStorageSOPClassUID` is invalid, though. Could that have something to do with it not being imported by the 3rd-party software?

[2017-08-17 05:48] pierredaye commented on #474
First of all, thanks for the detailed answer, I understand better how to
interact with our 3rd-party software (this is quite an old-homemade
software that I have to use since it has been validated by the FDA to be
used in a clinical environment).
Concerning file_meta.MediaStorageSOPClassUID, I used a valid value but I
set the value in the example to a repetitions of 1 (and it does not seem to
both

[2017-08-17 07:53] scaramallion commented on #474
In DICOM 'header' usually refers to the File Meta Information Header, which is the 128-byte 0x00 preamble, the 4-byte 'DICM' prefix and the (0002,eeee) elements (the `file_meta` elements in pydicom).

Could you try adding a couple more file meta elements to see if that helps:
[code]

[2017-08-17 08:49] glemaitre commented on #475
I would rather prefer `dcmread` :) IMHO, I find `read_file` is ambiguous since that this is singular.

[2017-08-17 09:16] glemaitre commented on #476
It will still work.

This is an interesting point. Is loading time of pydicom that much of a concern? I tried the current loading time on my machine which take `1.6 ms`

I modified the `__init__.py` to import read and write function and I get: `116 ms` and mainly `113 ms` for `filereader.py`

@darcymason  So I agree that this is much slower but is it an issue?

[2017-08-17 09:22] glemaitre commented on #477
In this case we need the environment and the traceback to try to reproduce the crash.

[2017-08-17 09:38] glemaitre opened #479 "CI something goes wrong with the push of the doc"
It seems that the push of the doc is going in master instead of gh-pages.
This is pretty bad :)

[2017-08-17 09:54] glemaitre commented on #479
I'll make a PR

[2017-08-17 12:11] glemaitre commented on #379
@massich Can you reopen the issue in contrib-pydicom

[2017-08-17 12:11] #379 closed

[2017-08-17 13:08] darcymason commented on #476
There were a couple of old discussions around this:  Here is one:
https://groups.google.com/d/msg/pydicom/EVV3POQqhJQ/GgwHT4hQMUIJ
Admittedly, as commented there, the loop through files should probably be done within python, but I don't think it is unreasonable to accommodate (if not too much trouble) uses cases that call code from shell scripts, etc.

[2017-08-17 13:15] mrbean-bremen commented on #476
Also, this would make unit tests slower, which may be a problem if you have many of them. I just checked some tests I have using pydicom - they need between 10 and 20 ms (using a fake file system).

[2017-08-17 19:58] vsoch commented on #477
ok, that seems reasonable to me!

[2017-08-18 01:49] #479 closed

[2017-08-18 01:55] scaramallion commented on #475
But `read_file` does only read a single file. `read_dicomdir` only reads a single file, too (hence the confusion). A DICOMDIR file is like an index for other datasets that sit in subfolders below it, but still only a single file.

[2017-08-18 06:07] glemaitre commented on #475
‎Oh so I am fine with it. 

[2017-08-18 06:20] scaramallion commented on #475
I do like the names `dcmread` and `dcmwrite` though.

[2017-08-18 16:06] glemaitre opened #482 "DicomIter class unused"
In `filereader.py` I found a class `DicomIter` which is unused in the package:

[code]

So I wanted to know if this is a useful object or it can be removed or at least it should be tested.

[2017-08-18 16:06] glemaitre commented on #482
If if this is useful, I would assume that we should show how to use it inside an example.

[2017-08-18 16:32] glemaitre opened #483 "Difference of data_element_generator in filereader and util.leandread"
There is 2 function called `data_element_generator`. One in `filereader.py` and one in `util.leanread`.
I would assume that the one in util_leanread is doing less stuff than the one in filereader.

However, is it possible to create a `_data_element_lean_generator` which can be called in the context manager and in the `data_element_generator` from filereader (I would also called it `_data_element_g

[2017-08-18 16:41] glemaitre opened #484 "Use of @contextmanager"
It seems that some reading function where thought to be used in some context manager which is something interesting and readable.

However, I don't see that `@contextmanager` is used. Is there any reason?

[2017-08-18 16:58] glemaitre commented on #476
I agree if there is a real use case that required to go for time performance. I don't think the one in the google thread is actually a motivated one :). I would assume that they are specific applications that could be the case and I would understand now the use of the module e.g. `util.leanread` which could be imported with the barely minimum to make a specific task. In this case, we would need to

[2017-08-19 13:03] darcymason commented on #483
I had a look at the diff between the two `data_element_generator`s.  There is actually very little difference.  Mostly the 'lean' one has the debugging statements removed, and yields a tuple directly rather than a `RawDataElement`.  And it does not read undefined length (except SQ).  Oh, and the StopIteration is still there that was corrected in a recent update, and we should update that in that c

[2017-08-19 13:22] darcymason commented on #484
Just history.  The code hasn't been updated since dropping earlier python versions not having those features.

I certainly support using context managers wherever appropriate.

[2017-08-19 15:22] liamnaks commented on #330
Got it to work by placing this in the` get_LUT_value` method:

[code]

Make sure to also put `from dicom.multival import MultiValue` at the top of the file.

[2017-08-19 15:42] darcymason commented on #482
I don't think it is particularly useful.  The only thing it does is return the data elements in tag-sorted order, which is also available in `Dataset`.  I think this was some kind of experimental class at one point, but I don't remember why.   I think it should be removed.

[2017-08-19 15:55] darcymason commented on #475
Hmm ... I admit I am feeling a bit adventurous.  The best time to fix a mistake is before it happens; the second best time is now.  What does everyone think of changing to `dcmread` and `dcmwrite`, and aliasing `read_file`, `write_file` to them.  I don't think a deprecation warning should be thrown; I would leave `read_file` without warning for a very long time.

If this were done, I think the doc

[2017-08-19 16:28] glemaitre commented on #475
I think that we could send a warning to use dcmread without deprecation at first. When the time comes the warning can be turned to a deprecation.

[2017-08-19 16:32] glemaitre commented on #482
‎I will make a PR to remove that. I think that it is nice to create experimental feature which might not go in the package. We could create a "experimental" sub package to add those things which give time to have the right API. ‎This package could be under a less strict rules regarding the deprecation. 

[2017-08-19 17:14] darcymason commented on #475
Sure, that seems reasonable.  It doesn't hurt to have another path where the information gets out to users.

[2017-08-19 17:32] darcymason commented on #476
So, the much larger import time is still bothering me.  I did some profiling.  It appears that almost all the extra time is in loading the `DicomDictionary` from `_dicom_dict.py`.  I searched and `DicomDictionary` is only imported in `datadict.py` (and in the `generate_dict` code but that is separate from pydicom proper).  It may be possible to delay the actual import there until actually used.

M

[2017-08-19 18:19] mrbean-bremen commented on #466
This can be fixed by:
[code]

@scaramallion : you already have added the tests in the PR, so you may fix this yourself together with the tests, as I don't want to interfer with your PR.

[2017-08-19 18:45] vsoch commented on #475
I like this approach too - that seems to be what I've seen with numpy/scipy, etc.

[2017-08-20 02:30] scaramallion commented on #466
OK, thanks!

[2017-08-20 02:33] scaramallion commented on #475
Sounds good.

[2017-08-20 03:44] scaramallion opened #486 "dir(FileDataset) and dir(DicomDir) return only Dataset methods"
#### Description
`dir(FileDataset)` and `dir(DicomDir)` don't return their specific methods.

#### Steps/Code to Reproduce
[code]
Occurs because `Dataset.__dir__()` only gets methods/properties from the `Dataset` class.

[2017-08-20 11:23] #477 closed

[2017-08-20 11:31] scaramallion commented on #330
contrib folder moved to its own repo, issue [created there instead](https://github.com/pydicom/contrib-pydicom/issues/1).

[2017-08-20 11:31] #330 closed

[2017-08-20 13:57] #486 closed

[2017-08-20 16:15] darcymason commented on #475
Is anyone working on the `dcmread` etc. name change?  If not I can take it.

[2017-08-20 16:57] glemaitre commented on #475
I wanted to work on that tonight but if you have time to make something before, go for it.

[2017-08-20 17:39] darcymason commented on #475
I thought I might get to it today, but looks like that won't happen.  Nor in the next couple days, so please go ahead.

[2017-08-20 17:56] mrbean-bremen commented on #238
I had a go at this, and the problem is that at this point (in `write_data_element`) the transfer syntax is not known. This code is indeed used for compressed data, where the data is already in the correct format (e.g. encapsulated), and for uncompressed data it is only used in artificial situatations (e.g. the data itself is converted to uncompressed, but the `is_undefined_length` flag is still in

[2017-08-20 18:06] mrbean-bremen commented on #476
I admit I didn't understand your meaning here, but I'm also ok with your changes - I will check how it will affect my own tests later. The project I was speaking about is a small one, and there may be less than a hundred tests involving `pydicom`, so I don't think it will have a big effect.

[2017-08-20 18:54] glemaitre commented on #476
Oh I thought you were speaking about pydicom test suit. Make sense then.

[2017-08-20 22:12] darcymason commented on #238
If I understand correctly, you are saying that if the user converts from compressed format to uncompressed, they should also set `is_undefined_length` to False?

That can make sense, but it seems sort of 'hidden', even if we document somehow.  Perhaps we can still throw an error.  When writing pixel data, we could check that if `is_undefined_length` is True, then there is also a sequence delimiter

[2017-08-21 00:52] mrbean-bremen commented on #238
Ah, you are right - this would give the user a better feedback, and it can be done for all tags with undefined length  (e.g. both sequences and pixel data). I like that suggestion!

[2017-08-21 09:48] scaramallion opened #489 "No encoding with write_PN raises TypeError"
#### Description
`filewriter.write_PN()` with `encoding=None` (default) raises `TypeError`

#### Steps/Code to Reproduce
[code]
[code]
Occurs because when `encoding=None`, `encoding = [default] * 3` is used.

I'm not sure what the impact is in practise since `write_PN` only seems to get called internally with encoding not set to None.

#### Versions
Python 2.7

[2017-08-22 00:16] #476 closed

[2017-08-22 08:28] pierredaye commented on #474
Hello,

First of all, sorry for my late answer, I was sick the whole week...

Concerning the question here, there is still something that is puzzling to me. When we use our software to read the files created with pydicom, it complains about the size of the header:

I tried to set a different value for ds.file_meta.FileMetaInformationGroupLength but it did not change anything in the output file. It

[2017-08-22 09:41] pierredaye commented on #474
OK. So when we read the file with our software, it found a tag (0x0002, 2030) of length 20 bytes... I don't know where this is written.

[2017-08-22 16:34] glemaitre opened #491 "Add what's new (release note) inside the sphinx doc"
I think that we should maintain the release note or a what's new to keep track of merging.

[2017-08-23 11:27] massich commented on #475
I disagree with @darcymason with not deprecating `read_file`.

I think that migrating to 1.0 is the *best* chance to label `read_file` to be removed on the future. Future does not mean v1.0.1, it can be v2.0 which will come in a very long time. But states, a clear intantion of factorizing functionality.

[2017-08-23 11:28] glemaitre opened #495 "vendor six instead of compat module"
It think that we create a subpackage externals and include six there. I remember that @darcymason was not against something similar in another issue.

@darcymason am I wrong.

[2017-08-23 12:17] darcymason commented on #495
I'm not against anything if it is the best solution.  I used to have six included in pydicom, but then realised that pydicom was only using a handful of lines from it, and I thought it was simpler to keep those few lines and anything else needed in one custom module (compat.py).  Then didn't have to worry about which version was being used, etc.

What parts of six do we need?

[2017-08-23 12:47] glemaitre commented on #495
mainly the types and maybe the metaclass if you are going to use ABC or those thing with base class.

https://github.com/CloudAutomationNTools/python-six/blob/master/six.py#L35

[2017-08-23 12:56] darcymason commented on #475
My original thinking was to avoid 'unnecessary' warnings when we know we will not actually remove `read_file` for a very long time (there is really no harm in allowing `read_file` to continue as an alias).  That's why my original statements was to only announce it at this point, let people start writing to the new name without having to change old code at all -- some may write scripts for other no

[2017-08-23 14:00] massich commented on #475
I see. Fair enough. When we tell them that we'll deprecate, we'll do it quick because it would had been announced long before. Ok.

[2017-08-23 14:04] glemaitre commented on #475
Note that DeprecatingWarning are silent by default since Python 2.7 :)

[2017-08-23 14:59] darcymason commented on #475
Argh, I think I had heard that before but had completely forgotten it.  Well, that changes the whole discussion.  But what about some of the distro's (e.g. Anaconda) and iPython.  Do any of those turn on the warnings?

[2017-08-23 22:54] darcymason commented on #475
So ... thinking about this a little longer.  If virtually no one is going to see the warning anyway, I still think better to wait for a while.  The docs and examples will show the new name, and then once google search turns over to showing (first page) only code with the new names, everyone will be pretty much on board by then anyway.

[2017-08-24 00:44] #238 closed

[2017-08-24 12:12] #491 closed

[2017-08-24 12:47] darcymason commented on #495
In the compat module, I linked to my inspiration for that module by Armin Ronacher: http://lucumr.pocoo.org/2013/5/21/porting-to-python-3-redux/:

That article also addresses metaclasses.

Do you mind having a quick read and see if that analysis is still relevant and complete?  I'm still inclined to avoid the complexity of external libraries if we can incorporate just the lines needed.  Especially

[2017-08-24 13:32] glemaitre commented on #495
Ok I will have a look.

[2017-08-24 14:41] #482 closed

[2017-08-24 17:09] massich commented on #495
The advantage of *six* over the custom *_compat* proposed in the article is that *six* is familiar to most of the newcomers. Maybe in 2013 it was not clear how things would turn out. But if I had an old project and I made my own *_compat* module (today) I would call it six; and i would strip as much as possible from six itself.

[2017-08-25 08:45] mrbean-bremen commented on #495
I disagree. First, I think that the mentioned article is still valid (more so as we don't support 2.6). Second, your suggestion to make a stripped down version of `six`, and still name it `six` is somewhat confusing - it will only have a very small subset of `six`, but invites the user to use other parts of it. Last but not least, this avoids any overhead from importing `six`.
So, as long as we on

[2017-08-25 13:07] darcymason commented on #495
I agree. I really try to be open to all new ideas, but here, if there is a case to switch to six, I don't think it has been communicated.  If we are to change working code of about a handful of lines, to many hundreds of  lines in a new subpackage, I think there needs to be specific, tangible justification.  I don't think the familiarity argument is enough: it really is not hard to look at the imp

[2017-08-31 04:29] ak04nv commented on #285
@chicocvenancio you saved my time! Thanks alot, man!!!

[2017-09-01 07:45] DianaYu0601 opened #497 "get TypeError: unhashable type: 'PersonName3' when running show_dicomdir.py"
#### Description
get TypeError: unhashable type: 'PersonName3' when running show_dicomdir.py

#### Steps/Code to Reproduce

[code]
-->

#### Versions
Darwin-16.7.0-x86_64-i386-64bit
Python 3.5.2 |Anaconda custom (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
dicom 0.9.9

thank u very much!

[2017-09-01 15:53] mrbean-bremen commented on #497
This has been fixed a couple of weeks after the 0.99 release (in 2014), but there is is no new release yet.
@DianaYu0601: if you can use the version from the repository, is it fixed there, and the code is quite stable. Note though that you have to adapt the code to do this (see the [porting guide](https://github.com/pydicom/pydicom/wiki/Porting-to-pydicom-1.0)).
@darcymason - what is the policy he

[2017-09-02 02:51] DianaYu0601 commented on #497
thanks a lot!

[2017-09-02 13:37] darcymason commented on #497
I think it would be very challenging to backport a large number of the fixes to 0.99... but if anyone wanted to try with specific ones of importance to them, we could certainly accept those contributions.

I would agree that the repo is quite stable and people can use that until the release.  We're probably not "around the corner" yet, however, as there is still the thorny issues around pixel repr

[2017-09-02 14:16] darcymason commented on #153
Closing as can be solved using available bad dicom handling hooks..

[2017-09-02 14:16] #153 closed

[2017-09-02 16:40] argman commented on #113
@darcymason hi, I am also trying to export a rt file, but where is the discuss..

[2017-09-02 18:22] darcymason commented on #113
Can you be more specific please?  Are you creating the file from scratch?  There is [an example](https://github.com/pydicom/pydicom/blob/master/examples/input_output/plot_write_dicom.py) in the repository showing what needs to be set for basic file writing.

The discussion referred to was probably [this one](https://groups.google.com/forum/#!searchin/pydicom/structure$20set/pydicom/bEkbVSFsOEc/Sk1

[2017-09-02 18:28] darcymason commented on #113
Oh, and there is the [codify](https://github.com/pydicom/pydicom/blob/3d61fc3fc48ab8ed2bc9f43088c5a28a3b757656/pydicom/util/codify.py) utility, which takes an existing file and produces a complete pydicom code to create that file. So find a DICOM file that is similar to your needs, and you can have an exact template for the code needed to make one like it.

[2017-09-02 18:36] darcymason opened #498 "Update/document codify script"
Codify script needs to be updated for new VRs, and should be added to pydicom's getting started documentation (at least awareness of it).

Further, could it/should it be installed into a python script directory on the users path as other packages often do with scripts?

[2017-09-02 19:27] darcymason commented on #209
Closing - contrib moved to own repository, and various workarounds noted above.

[2017-09-02 19:27] #209 closed

[2017-09-02 19:44] darcymason commented on #219
I propose to close this issue, but if someone has the time (@rhaxton? @sbrodehl?) , they could contribute an example code, which could go in pydicom examples, or perhaps even better, pydicom-contrib repository so it can easily be imported from user code and be updated over time.  Any takers?

[2017-09-02 22:48] #425 closed

[2017-09-03 04:07] argman commented on #113
@darcymason , tks for this, I've just tried it, really awesome!

[2017-09-03 17:35] mrbean-bremen commented on #497
Makes sense! I agree that it only makes sense to back-merge fixes if there is a need for it.
@DianaYu0601 - are you fine with switching to the repo version?

[2017-09-04 02:21] DianaYu0601 commented on #497
yes, thanks a lot, I've switch to the repo version.

[2017-09-04 06:02] mrbean-bremen commented on #497
Closing as fixed in master.

[2017-09-04 06:02] #497 closed

[2017-09-05 08:33] mrbean-bremen opened #499 "Crash with specific UIDs"
The following crashes with infinite recursion under Python 2.7:
[code]
If accessing the name, it is checked if the UID string is one of the predefined strings.
The given UID has the same hash as a predefined UID (Basic Voice Audio Waveform Storage), and therefore the `__eq__` operator is invoked. This operator compares the UID names, what leads to the recursion.

In 0.99 and previous versions, the

[2017-09-06 21:26] scaramallion commented on #474
Can you attach a copy of the DICOM file that's causing the problem with the software?

[2017-09-07 12:58] pierredaye commented on #474
Hello,

Sorry for my VERY late answer. After digging more into the c++ library
developed by some of my colleagues to read the DICOM, I realized that they
did not comply with the standard for a couple of tag (they should provide a
IS for one tag but the string represents a float :( ). Once I understood
that, I realized that the pyDicom code was good and I made the small
changes in my implementation

[2017-09-07 15:02] massich commented on #499
Can't reproduce.

[2017-09-07 18:13] mrbean-bremen commented on #499
This is reproducible with Python 2.7 under Windows, but the hash implementation uses some secret which may change with versions and/or OS (didn't check that).
I changed the test to force the hash collision.

[2017-09-08 02:07] vsoch opened #502 "Compression of dicoms"
Hey @pydicom/pydcom-fff ! We are finishing up (and running) a pipeline to migrate old PACS images (dicom) to Google Cloud, and in practice are finding (logically) that moving around compressed tar.gz of studies is more efficient (storage and speed) than individual files.  The issue comes down to viewing these files statically, directly from object store. Ideally we would have the "nifti equivalent

[2017-09-08 07:59] massich commented on #499
Ok, so its windows related.

[2017-09-08 08:54] mrbean-bremen commented on #499
No, it's related to the hash implementation which is the same in all OSes, but uses an internal Python secret, which may differ in different versions (I haven't checked the generation of the secret in the code, it is possible that it is also OS dependent). With other versions, the hash collision will just happen with other UIDs.

[2017-09-08 12:49] darcymason commented on #502
Can you explain a little what the nifti you would like to emulate is doing?  It sounds like you would like to be able to pull files from a collective 'zipped' set of files (each its own single study).  If there is code that can return a 'file-like object' to pydicom, we should be able to make that work.  The viewing part would be outside pydicom proper, but `pixel_array` (and data elements related

[2017-09-08 16:18] rhaxton commented on #502
@vsoch I would refer you to some code snippets in #219
The example code in #219 is from an AWS lambda that reads the tgz (or zip) of the MRI series from object store (because, as you have found out, storing each slice individually is way too slow).  We also store jpeg thumbnails on the side of a few select slices for static viewing.  I don't know if Google's Cloud Functions would be responsive eno

[2017-09-08 17:47] vsoch commented on #502
@darcymason - nifti is a format (either compressed or uncompressed) that allows for 3D or 4D data along with header data. The two goals that I have are **efficient transfer and storage** (small size, smaller number of files, and thus faster moving around) and **viewability** (meaning ready to view in a standard viewer, statically, without needing to do much to the file first.) @glemaitre can comme

[2017-09-12 01:26] scaramallion commented on #474
That's great, I'll close this issue then.

[2017-09-12 01:26] #474 closed

[2017-09-12 09:05] massich commented on #502
To me as person who does image processing nifty has a clear advantage over dicom: nifty is an image with some meta-information; while dicom is patient meta-information with some embedded images. On the other hand (and despite being widely accepted in neuroimaging) nifty is not the current standard in most medical imaging modalities.

The main disadvantage I find with dicom is that the files are no

[2017-09-13 04:00] #499 closed

[2017-09-14 10:01] rzinkstok opened #503 "Support for DICOM files with implicit VR file meta"
#### Description
Up to pydicom 0.9.9, it was possible to read a DICOM file that lacked any file meta. When using pydicom from the current master branch, this is no longer the case. When no file meta is present in a DICOM file, the `_read_file_meta` function returns a dataset containing only a group length data element, and then a crash occurs when the TransferSyntaxUID is requested from the file_m

[2017-09-14 12:12] darcymason commented on #503
Yes, please supply a de-identified file.  The 'unknown value representation' has come up before several times; it may be related to one of those issues.

No, the intention is to be reasonably flexible in reading non-compliant files, So working through your example file could be helpful.

[2017-09-14 21:32] rzinkstok commented on #503
Thanks for your interest, and good to hear pydicom is intended to deal with non-compliant files graciously. I attached a CT slice that shows the behavior I described above. Shall I start a pull request too or is that a bit too hasty?

[very_old_ct_slice.zip](https://github.com/pydicom/pydicom/files/1304635/very_old_ct_slice.zip)

[2017-09-17 17:15] darcymason commented on #503
Okay, I had a look at this ... checking in a hex editor showed that there is a file meta (only one item, the transfer syntax), but it is _implicit_ VR, also against the dicom standard.

I chercked that the following made the file readable:
[code]

But of course that is not a workable solution.  We'd have to either add an argument or config setting to force reading file_meta as implicit VR, or perh

[2017-09-17 18:49] #466 closed

[2017-09-17 19:00] darcymason commented on #495
I'm going to close this for now.  It really is not a significant thing one way or the other, but I still lean on the side of simplicity when possible.   Certainly I'm open to adding six if in future there is additional functionality we need.

[2017-09-17 19:00] #495 closed

[2017-09-17 19:21] darcymason commented on #475
@glemaitre, are you still planning to work on this?  I can try to put something together if you don't have time right now.

[2017-09-17 19:59] glemaitre commented on #475
I am bit taken on other projects. Fill free to advance it. You can ping me for review.

[2017-09-18 06:02] mrbean-bremen commented on #467
Padding pixels are always at the end, not at the beginning. Did you get this working meanwhile?

[2017-09-18 15:31] rzinkstok commented on #503
You are right indeed: it's a different issue. Based on your suggestion, I've made a fix that seems to work properly. I'll start a pull request for it, and I'll be happy to hear your thoughts!

[2017-09-21 11:21] #503 closed

[2017-09-23 16:33] darcymason opened #507 "Travis failing on PyPy 5.8"
For a while Travis has been failing on python 3.5,  Error seems to be:

[code]

Is this simply a permissions issue?  Why then only on python 3.5?

[2017-09-24 14:23] darcymason commented on #418
So I've been thinking a lot about this issue, trying out different things in my head and in pseudo-code.

Let's first restate the problem very briefly:

`pixel_array` currently returns a numpy array only.  If the image was decompressed, the pixel representation may have been changed by one of the handlers; each handler might change it differently.  In such cases, other data elements in the dataset

[2017-09-24 14:55] mrbean-bremen commented on #507
FWIW, the last passing build ran on PyPy 5.3.1 (which also works fine in other projects where it is set directly), while the failing builds are trying to install PyPy 5.8.0. Maybe it's a PyPy and/or Travis problem.
I'm not sure how to set the PyPy version in the build matrix in travis, but we could revert to a working version for the time being.

[2017-09-24 16:01] vsoch commented on #418
Okay, I will just leave a dump of thoughts!

I think we want to achieve two things:

 - make it seamless and not painful for the average user that has no idea what compression / etc are, and don't hide anything
 - allow for different handles / compression for developers / more advanced users.

If we take a strategy to default to the simplest (base / no special things done) case, the point 1 is sat

[2017-09-24 16:09] vsoch commented on #418
I clicked comment when I wasn't done yet :) Here is the rest!

Similiar to the above, but instead of an image module, return a copy of the entire dataset, not just the related data elements:

I generally think we should always return a new thing, unless the user specifies something like force or inplace. I could see either working ok, so I don't have a strong opinion on this one.  A thought about

[2017-09-24 17:10] darcymason commented on #418
Thanks for the detailed response, @vsoch.  I really like some of the ideas and comments, but I'll wait to see if there are other comments from @pydicom/pydcom-fff or anyone else who would like to contribute.

[2017-09-24 17:41] vsoch commented on #418
Sounds good. I'll think more about this too - it's been a while!

[2017-09-25 08:58] mrbean-bremen commented on #418
Just one quick thought - generally, I think that option 2 is the cleanest from the DICOM standpoint. As the new object is another DICOM object, with another SOP Instance UID, I think it is clearer for the user. Updating an existing data set which the user may already have used could be unexpected, as the data set remains the same object, so it is easier to introduce subtle bugs.
That being said th

[2017-09-26 13:37] darcymason commented on #507
Had a look at the PyPy download page, the 5.8.0 is the python 3 compatible version, but it is still listed as beta.  I'll think I'll just remove this check from travis  for now.  If someone knows how to put it back in such that it works, then please do so.

[2017-09-26 16:44] rhaxton opened #508 "GDCM fails with emri IODs"
The current tests include several expected failures for GDCM decompressing multiframe images (EMRI in our test suite).

These tests are marked with pytest.mark.xfail( "GDCM does not support emri?")

[2017-09-27 06:54] mrbean-bremen commented on #507
Just checked - the version is hardcoded in `build_tools/travis/install.sh`. You can replace it with something like 5.4.1 for PyPy3. For PyPy2 version 5.8.0 seems to work.

[2017-09-27 13:04] #475 closed

[2017-09-27 16:55] mrbean-bremen commented on #507
Ok, the same error on uninstalling the wheel package happens with other PyPy  versions, too, so 5.8.0 seems not to be the problem.

[2017-09-27 20:20] #507 closed

[2017-09-30 01:57] darcymason commented on #418
Back to comment on the responses.  First from @vsoch:

I'm intrigued by this `DecompressedImage` class, but would use `DecompressedDataset` instead because there is no `Image` class in pydicom.  Its a bit different from a `decompressed` method of the `Dataset` class, but strikes me as more strongly explicit that something new is coming back.  Perhaps the method of `Dataset` could be named `decompr

[2017-09-30 02:09] darcymason commented on #418
Now from @mrbean-bremen:

Yes, I agree.  The in-place update is more likely to result in troubles.

I can't think of any siginificant performance issues.  As I mentioned in my response to @vsoch, the image size almost always overwhelms all the remaining data.  In any scenario we have discussed so far, we have both the original pixel data and decompressed pixel data, so there would be very little e

[2017-09-30 02:29] vsoch commented on #418
Definitely! And there are other weird ways you can add additional functionality to classes that are hacks to do the same thing. For example, for [ adding filters ](https://github.com/pydicom/deid/blob/development/deid/dicom/filter.py#L218) to dataset headers for deid, I just added the functions to the Dataset object. Although now that I think of it, that would mean that all subsequent Dataset inst

[2017-10-04 14:27] bennyrowland commented on #334
@1tron1 did you ever solve this problem? what format are you working with for your spectroscopy data? is it single voxel or CSI?

[2017-10-25 13:57] fedjo opened #512 "Time difference between reading and writing a DICOM dataset"
Hello,

Recently I was developing a tool which uses pynetdicom3. The general idea of the tool is receiving a dataset over the network and write that dataset to a file.
I noticed that though receiving and decoding the dataset is not that fast, writing dataset to a file is totally expensive in matter of time.
For example:
- receive & decode: 0,009 seconds
- write to file: 0,11 seconds

I was also di

[2017-10-25 16:48] #508 closed

[2017-10-25 19:40] astrofrog opened #513 "Unable to install developer version with pip"
Recently the following command has started failing:

[code]

I'm using Python 3.6 installed with conda on MacOS X

[2017-10-25 20:55] mrbean-bremen commented on #513
Just for reference: works fine under Linux (Ubuntu 16.04) under Python 3.6.3 installed using apt-get.

[2017-10-27 14:54] rbrecheisen opened #514 "Converting pixels from 'int16' to 'uint16' doesn't work"
Hi,

I'm not sure if this may be related to issue #293 but I have a few DICOM files that have their pixels stored as 'int16'. I can see this when I do the following:

**f = dicom.read_file('<myfile>')
print(f.pixel_array.dtype)**

I would like to convert the pixel dtype to 'uint16' and thought I could proceed as follows:

**pixels = numpy.uint16(f.pixel_array)
f.BitsAllocated = 16
f.BitsStored = 1

[2017-10-27 14:58] rbrecheisen commented on #514
My sincere apologies, I submitted too soon. I forgot to set f.PixelRepresentation = 0. It works now :)

[2017-10-27 14:58] #514 closed

[2017-10-27 15:01] vsoch opened #515 "Presentation States"
A quick question about presentation states! Does pydicom provide any kind of interface to open presentation state files, and is the content of the files represented (partly ot fully?) in image headers?
 For example:

http://dicom.nema.org/dicom/2013/output/chtml/part03/sect_C.11.html

We have radiologists wanting to get the goodness from these files, and are figuring out the optimal way to do that

[2017-10-27 15:42] mrbean-bremen commented on #515
Presentation states are just perfectly ordinary DICOM files that can be read and parsed by pydicom, though I'm afraid that you have to do the rest yourself. A presentation state points to one or more DICOM image files that it can be applied to, that you also have to handle in your application logic.
I'm not aware of vendor specific implementations - PS are perfectly well defined in DICOM, though t

[2017-10-27 17:08] vsoch commented on #515
oh neat! Do you have any on hand that I can take a look at?

[2017-10-27 18:51] mrbean-bremen commented on #515
Sorry, I'm afraid I can't help you there. Last time I was implementing GSPS stuff was more than 10 years ago, and also not in Python (ObjectiveC, actually). Though as far as I know, the DICOM standard hasn't changed too much in that respect since then.
About retrieving them - well, usually you should get them using query/retrieve from the PACS together with the other images, as they are in the sam

[2017-10-27 18:53] vsoch commented on #515
I'm not actually privy to the details - but if I can learn more I'll be sure to ask. Thanks for the advice and helpful information, closing issue!

[2017-10-27 18:53] #515 closed

[2017-10-27 18:54] mrbean-bremen commented on #515
Glad to help if I can :)

[2017-10-30 23:11] darcymason commented on #512
Hi, sorry for the delay in responding.
Yes, you have understood correctly.  In the past, both reading and writing used to work similarly, and both converted all values.  After some profiling, I was able to [speed up the reading significantly](https://groups.google.com/d/msg/pydicom/q-CtWdFn-Mk/KeXapuLsB8AJ) by moving to the RawDataElement concept, a sort of "just in time" conversion of bytes to py

[2017-10-31 11:05] kmader opened #516 "Example Code out of date"
The example code refers to the pydicom.dcmread function (https://github.com/pydicom/pydicom/blob/1c9d3f2cf7034521d5c4dd76a5ccf75e480c61ae/examples/input_output/plot_write_dicom.py#L71) which appears to have been removed)

[2017-10-31 17:23] fedjo commented on #512
Hi,

Thanks for you answer!

As you can understand, transmitting a whole study (consisting of 7700 dicom files) takes about 15 minutes when pynetdicom3 server runs on localhost! Which is a time cost I cannot afford on the program I am developing. Which means that I'm really willing in developing this feature :smile:

I am currently examining ```pydicom``` code to try to understand possible ways to

[2017-11-01 13:50] darcymason commented on #512
So these are just thoughts, untested of course, and just theoretical...

I would probably forget about SQ to start with - there are lots of files that are just images with no SQ in them, so it could be useful even if SQ doesn't work.  Besides, a SQ is a list of Datasets, so if we can write the main file dataset, it should be able to extend to the ones inside a SQ.

I would suggest in `write_datase

[2017-11-03 00:17] darcymason commented on #516
Actually the dcmread function was just introduced in the repository, but is not in a released version yet.

[2017-11-03 01:49] darcymason commented on #512
I wrote some profiling code ... and pushed it to the repository.  It's a bit rough as it is just a modified copy of the reading code, so some irrelevant bits are still hanging around.  Anyway, I had it time the writing of 50 files (after reading etc done so not including that).  Here is the result of top 8 by time on my system:

         4410392 function calls (4035888 primitive calls) in 5.458 se

[2017-11-04 13:31] darcymason commented on #512
I've posted some code that takes a very simple optimization based on the above profiling:  it just cuts down on the number of Tag calls, by checking first if the item is already a `BaseTag` instance (`Tag`  itself is a factory function).

Using this simple change, the time take is almost exactly 2/3 what it was previously.  (The code is in features/write-speed branch).  More investigation continue

[2017-11-27 20:33] rhaxton opened #518 "Multival does not define __ne__"
Since there is no __ne__ member,

[code]
fails.

Since multival == multival2 is True, then the != should be False

#### Versions
matser branch

[2017-11-27 20:44] rhaxton opened #519 "Writing None as a String throws an exception"
The following test fails:

[code]

with the exception

[code]

[2017-11-27 20:49] rhaxton opened #520 "Dataset::save_as() does not write proper file_meta info"
In the master branch, dataset.py::save_as() has the "write_like_original" parameter set to True by default.
My old code will break unless "write_like_original" is set to False (Previous behaviour was to always write FileMetaInformationGroupLength and FileMetaInformationVersion even when they were not provided)

[2017-11-27 21:47] mrbean-bremen commented on #518
Correct. My fault - I added  `__eq__` but forgot that `__ne__` is also needed in Python 2.

[2017-11-28 00:31] rhaxton commented on #520
Also, with write_like_original=False, it will overwrite any ImplementationClassUID and ImplementationVersionName I may have provided.

[2017-11-28 13:58] mrbean-bremen commented on #520
Is this one obsolete?

[2017-11-28 14:14] rhaxton commented on #520
I have changed write_file_meta_info to now only change ImplementationClassUID and ImplementationVersionName if they are not already provided.  Before this change, those tags were unconditionally updated to pydicom's UID and name (when enforce_standard was True)

[2017-11-28 14:59] mrbean-bremen commented on #520
Ah, ok, so this will be fixed with the PR.

[2017-11-29 15:38] #518 closed

[2017-11-29 15:39] rhaxton commented on #520
closed with #517

[2017-11-29 15:39] #520 closed

[2017-11-29 15:39] rhaxton commented on #519
close with #517

[2017-11-29 15:39] #519 closed

[2017-11-30 22:52] rhaxton opened #521 "Pixel data handlers shall update PhotometricInterpretation"
When appropriate, the pixel_data_handlers shall update the PhotometricInterpretation tag to the proper value for the returned numpy pixel array.

right now, this is determined by the pixel_data_handler's should_change_PhotometricInterpretation_to_RGB() function.
This is true for any 3 channel jpeg (JPEGBaseLine/JPEGLossless/JPEG2000/etc at the moment)

The only test case for this is in color3d_jpe

[2017-12-02 18:46] darcymason commented on #219
I'm closing this for now while cleaning up some of the issues.  Looks like good example code is here that we can point people to.

[2017-12-02 18:46] #219 closed

[2017-12-02 19:05] darcymason commented on #241
Seems to have been answered.  Closing.

[2017-12-02 19:05] #241 closed

[2017-12-02 19:23] darcymason commented on #242
@dcarrion87, is this issue still of concern?

If so, I found the example file in an email among the notifications for this discussion from github, but which appears to be only to me.  Is it okay to post the file here?

[2017-12-02 19:30] darcymason commented on #268
Would like to close this issue, but give a last chance for anyone to comment on the relevance using the current repository code.

[2017-12-02 19:39] darcymason commented on #395
Going over @mrbean-bremen's list again...  Have done as suggested, with some comments:

#238 had already been closed since that list.
#242 I found the example file in an email - but asking OP whether issue is still needed.  A quick look at it again and it seems a solution would be quite complex
#243 Labeled as enhancement, but will not put on v1.1 list just yet, as there are higher priority items

[2017-12-07 03:22] addisonElliott opened #523 "New Release"
When can I expect a new release?

I am looking for TM and DT VR's to be converted to date and timestamps. This was committed to the repo about 3 years ago but it is not in v0.9.9 for some reason?

There are over 640 commits between v0.9.9 and master. As a recommendation, I would definitely try to release more versions...

[2017-12-07 04:41] mrbean-bremen commented on #523
See also #240.

[2017-12-08 13:13] jimi2017 opened #524 "Pixel Data is compressed in a format pydicom does not yet handle"
Recently, I read a compressed dicom data using pydicom. However, I receive a message "Pixel Data is compressed in a format pydicom does not yet handle". The version of my pydicom is 0.9.9. I found that there are old issues discussed in several years ago. I'm wondering whether there is a version of pydicom can read compressed dicom data directly now?

[2017-12-08 17:51] darcymason commented on #524
The code in the repository can.  This is a little bit in flux as we work through some things before the release of version 1.0.  But in the meantime the repository code can be installed with `pip install git+https://github.com/pydicom/pydicom.git`

[2017-12-08 17:56] darcymason commented on #523
I appreciate that its been a long time since last release.  Please understand that there are major differences since the last release - some backwards-incompatible changes, and dealing with how to decompress images properly and handle the information in the best way (to avoid further backwards-incompatible changes).  We're finally getting to the bottom of that last problem I think.  Unfortunately,

[2017-12-08 18:24] rhaxton commented on #521
@darcymason @mrbean-bremen
I think think that the jpeg_ls, numpy, pillow, and rle pixel handlers are all good to go and get the right  values out.   I think the SC_rgb_*.dcm test cases are all good as well, but I can't figure out what is happening with the gdcm decoder with the color jpegs (all the other transfer syntaxes seem to work?)

I am at the point where I want to give up on gdcm for color

[2017-12-08 18:41] addisonElliott commented on #523
Thanks for the response. I understand the issue with backwards compatibility. Also, I apologise for the repeat issue. I didn't check if there was an issue before submitting.

[2017-12-10 21:07] darcymason opened #525 "Integrated handling of decompression and Dataset state"
Looking for a solution to one of the last remaining problems before version 1.0.  As discussed in #521, decompression will have side-effects that change other data elements.  Pydicom should keep track of that state and do some updating and checking on writing files.

A simple use case for pydicom might be to decompress a set of files and write them back out again:
[code]
I am submitting a pull req

[2017-12-11 16:38] jstutters opened #527 "Typo in InvalidDicomError message"
#### Description
The description for the InvalidDicomError that is raised for invalid DICOM files is missing a space between "Information" and "header".

#### Steps/Code to Reproduce
Example:
[code]

#### Expected Results

#### Actual Results

#### Versions
Linux-3.10.0-693.2.2.el7.x86_64-x86_64-with-centos-7.4.1708-Core
Python 3.6.3 (default, Oct 11 2017, 18:17:37)
[GCC 4.8.5 20150623 (Red Hat 4.

[2017-12-12 02:22] #527 closed

[2017-12-12 13:20] darcymason commented on #525
Sorry to belabor this, but I'm stuck on the side-effect thing, and need it solved for version 1,0.  To take the above a little further: If code accesses any data element, for example, `ds.ImagePositionPatient`, or even modifies it, there is an expectation that other data elements remain unchanged.  I don't think pixel data should be any different.  With an explicit `Dataset.decompress()`, it is an

[2017-12-12 17:56] rhaxton commented on #525
@darcymason Yes, I agree that accessing the pixel_array should not change anything else.  This keeps previous behavior.  I also like that the state of pixel_array and PixelData are not connected.

To me, it is clear that PixelData is just the content of the original dicom source, pixel_array is just a method to get a numpy array of the PixelData.  I would suggest that decompression should remain i

[2017-12-12 20:22] mrbean-bremen commented on #525
I agree with @rhaxton. I have thought a little about the possible use cases, and there are really not many. The most common is probably just accessing the pixel data, as described by @rhaxton, to do some image processing or similar - in this case handling the data independent of the DICOM file is correct, I think. If the result shall be written back to a DICOM file, this has to be done separately.

[2017-12-13 12:08] mrbean-bremen commented on #395
I'm closing this one - most issues are classified / handled now by @darcymason - thanks! -, and the rest is just ongoing work.

[2017-12-13 12:08] #395 closed

[2017-12-13 16:15] darcymason commented on #525
Thanks for your comments.

I'm okay with pixel_array and PixelData separate for the usual case of accessing `pixel_array`, but @rhaxton, I'm not clear on your opinion on the decompress() method which does link them, changing the PixelData on writing.  Since this is new it does not change any behavior that anyone is used to.  An alternative could be a decompressed() method, which returns a complete

[2017-12-15 05:58] jimi2017 commented on #524
I have read compressed dicom data successfully using the code in the repository. Thank you very much. Now I want to save the compressed dicom data as un-compressed dicom data. But I used saveas method, it still saved as compressed dicom data. Is there any solution?

[2017-12-15 09:51] mrbean-bremen commented on #525
Agreed. Anyway, I think this is the wanted behavior.

[2017-12-15 12:10] rbrecheisen opened #529 "Replacing pixel_array has no effect after saving"
#### Description
I have script that reads an existing DICOM file, replaces its pixels with zeros and writes it back to the file system. Right before saving, the pixel_array field contains only zeros but after saving and reloading the image, the pixels still have the old non-zero values. I have no idea why and this worked without problems when I was using Python 2.7. Now, I switched to Python 3 and

[2017-12-15 14:04] darcymason commented on #529
It looks like you have set `PixelArray` instead of the proper dicom keyword `PixelData`.

[2017-12-15 14:11] darcymason commented on #524
This has been under discussion at issue #525. I've proposed a new decompress() method there.  Until that is sorted out, with current master you would have to do something like
[code]

[2017-12-15 16:23] rbrecheisen commented on #529
Right! Thanks for the hint!

I suspected it would be something obvious but I have been staring at this
for two whole days now :)

Thanks

On Fri, 15 Dec 2017 at 15:04, Darcy Mason <notifications@github.com> wrote:

--
Sent from my iPhone

[2017-12-15 16:28] #529 closed

[2017-12-15 18:24] rhaxton commented on #525
@darcymason
How about this for a thought...

pixel_array always returns a decompressed numpy copy of the data in PixelData (or throws an exception) [This is the 0.9 behavior]
The DICOM PixelData is never changed by anything you do the pixel_array.
Open question:
[code]
Right now, it is 0 because the pixel_array is cached with the dataset. If you wanted to get the original data again, you would hav

[2017-12-15 18:33] rhaxton commented on #521
@darcymason  @mrbean-bremen
I am starting to think we should roll this back and that the act of reading/decompressing certain pixel data should not change the PhotometricInterpretation tag.  The only handler that has odd behaviour is the GDCM handler (and I don't know why), the pillow handler seems to magically do the right thing across all the test cases.  I think it is nice to retain the conveni

[2017-12-15 19:30] darcymason commented on #525
I was just thinking about that behavior too in the last couple of days.  It was cached like that to avoid a lot of conversions (e.g. byte-swapping, if needed) every time the pixel data was accessed.  That could be dropped and just documented that it is better to keep your own copy only and don't access it again.

Note that is not true for mutables:
[code]
For both cases, that is the way python wor

[2017-12-15 22:42] darcymason commented on #521
Yes, I agree, I think that has come out of the discussion in #525, no altering any data elements when getting pixel data.

[2017-12-16 07:24] jimi2017 commented on #524
Thank you very much! But when I used the decompress() function and saved the compressed dicom file into new file,  I received an error message "file_meta transfer SyntaxUID is compressed type but pixel data has been decompressed".  The dataset.file_meta.TransferSyntaxUID is "JPEG Lossless, Non-Hierarchical, First-Order Prediction (Process 14 [Selection Value 1])". Whether the current pydicom versi

[2017-12-16 16:12] darcymason commented on #524
Oh, that was basically a little laziness on my part - the decompress() function should really take care of updating the transfer syntax, but the code was an early prototype, so I put an error message in as a placeholder until the proper code was added.  The JPEG lossless you mention would be the original transfer syntax of the file.

Looking it up now, by the dicom standard [PS3.5 section A.4](htt

[2017-12-16 18:57] mrbean-bremen commented on #525
The point about large pixel data is a good one, but I would leave that for a post 1.0 version. Using `memmap` for the original data is probably a good idea, but for compressed data a memory copy would be needed anyway, in my opinion. Another (additional) approach regarding large data sets (which are usually multi-frame) would be the possibility to read single frames in multi-frame data - which is

[2017-12-17 02:28] dcarrion87 commented on #242
@darcymason I don't have access to properly strip the file f

[2017-12-17 02:40] dcarrion87 commented on #242
@darcymason no longer an issue. Happy for it to be posted here as long as the institution identifiers are removed.

[2017-12-17 02:43] jimi2017 commented on #524
Thanks. However I still have a problem. I receive a error message "Pixel Data with undefined length must start with an item tag".  If I derectly use the
 "pix = ds.pixel_array  # forces the decompression
ds.PixelData = pix.tobytes()  # updates the actual pixel data which will be saved", I also receive the same error message.

[2017-12-17 03:09] darcymason commented on #524
Ah.  Good that you found that out.  See #238, specifically the second comment offers a line of code which should fix it.  That should be added to the decompress() code also.

[2017-12-18 03:57] darcymason commented on #242
I looked at this briefly again -- for now I just want to record what i think is the solution, to come back to.

If the file had been implicit VR, this would have been handled, because there is a section in `data_element_generator` that peeks ahead if the VR is not known, to check for an Item Tag indicating a sequence:

[code]
I think we can solve this by just bumping that check up and using it for

[2017-12-19 07:54] thorsant opened #530 "Support for reading/writing OL tag"
Are you planning to support reading/writing of OL tag data? I can see that there is some sort of support in valuerep.py, but in the reading/writing, there is no support.

[2017-12-19 13:15] darcymason commented on #530
There was reading and writing support added in #307, but as with other binary elements in pydicom, it was essentially treated as bytes.  Can you clarify if there is something needed beyond that?

[2017-12-19 13:29] thorsant commented on #530
Hi

This is the error message I get when reading a file which contains a OL field:

Traceback (most recent call last):
  File "rawdicomdump.py", line 25, in <module>
    print(rawdicomfile.ReadFile(args.file))
  File "c:\Git\rawdicom\rawdicom\rawdicomfile.py", line 641, in ReadFile
    rd = RawDicom(ds)
  File "c:\Git\rawdicom\rawdicom\rawdicomfile.py", line 602, in __init__
    ds.decode()
  File

[2017-12-19 13:44] darcymason commented on #530
Yes, it was added to repository since 0.9.9, will be coming with version 1.0.

[2017-12-19 13:56] thorsant commented on #530
Is there a plan to release 1.0 soon?

[2017-12-19 14:02] darcymason commented on #530
Well,... yes... but I've been saying that for quite some time now.  But I do hope to put out a "release candidate" within the next couple of weeks.

Meanwhile if you want you can install the latest in repository with
`pip install git+https://github.com/pydicom/pydicom.git`.

There are some backwards incompatible changes, but mostly in modules which most code probably doesn't use anyway.

[2017-12-19 14:06] thorsant commented on #530
Thank you!

[2017-12-19 14:54] #530 closed

[2018-01-15 15:54] alexattia opened #532 "Open JPEG Lossless image"
#### Description

Hello,
I am trying to use pydicom to open images in a dicom directory.
But when I try to open an image, I have this error :
`NotImplementedError: No available image handler could decode this transfer syntax JPEG Lossless, Non-Hierarchical, First-Order Prediction (Process 14 [Selection Value 1])`
#### Steps/Code to Reproduce
I run this :
[code]
and it output the NotImplemented Err

[2018-01-16 12:55] mrbean-bremen commented on #532
This probably means that you do not have a package installed that can handle this syntax.
There are 3 packages that can handle this: `jpeg_ls` (CharPyLS in pypi), `pillow` and `gdcm`. Pydicom itself uses these packages for decoding compressed images (additionally, you need `numpy` for any image data related functionality).

[2018-01-16 22:54] alexattia commented on #532
Just installed pillow and gdcm (numpy already installed) but I didn't find a way to install CharPyLS on Mac. I tried without CharPyLS and it throws the same error.

[2018-01-17 18:44] mrbean-bremen commented on #532
Hm, I just checked the code, and `gdcm` shall definitely handle this transfer syntax, while `pillow` can handle it if the `pillow` jpeg plugin is installed, so it definitely should work for you. Can you check that you really can `import gdcm` or `import PIL` in you python environment?

[2018-01-17 23:14] alexattia commented on #532
Thank you for your answer. I just checked and `import gdcm, import PIL`works fine but when I run :
[code]
I have this error:
`AttributeError: module 'gdcm' has no attribute 'ImageReader'`

[2018-01-18 23:15] hackermd opened #533 "Enable reading individual frames from multi-frame Image Pixel Data elements"
When working with large multi-frame images, it may be desirable to load only a subset of frames into memory.

[2018-01-18 23:28] hackermd commented on #139
@mshunshin The value of the Basic Offset Table item can be used to determine the frame boundaries within the Pixel Data element value (see PR #534). The item value is not required, however (see [PS3.5 A.4](http://dicom.nema.org/medical/dicom/current/output/html/part05.html#sect_A.4)).